<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>清大众筹</title>
	<link rel="shortcut icon" href="favicon.png">
	<link href="{% static 'wechat/css/themes/qingda.css'%}" rel="stylesheet" charset="utf-8" />
	<link href="{% static 'wechat/css/themes/jquery.mobile.icons.min.css'%}" rel="stylesheet" charset="utf-8" />
	<link href="{% static 'wechat/css/themes/jquery.mobile.structure-1.4.5.css'%}" rel="stylesheet" charset="utf-8" />
	<link href="{% static 'wechat/css/themes/style.css'%}" rel="stylesheet" charset="utf-8" />
</head>
<body>
	<div data-role ="page" id="about" data-title="更多" class="about">
		<div data-role="header" data-position="fixed" data-tap-toggle="false">
			<h1>更多</h1>
		</div>
		<div role="main" class="ui-content">
			<h3>关于</h3>
			<ul data-role="listview"  data-theme="e">
				<li>
					<a href="#pro_detail_list" class="ui-alt-icon">意见反馈</a>
				</li>
				<li>
					<a href="#pro_detail_list" class="ui-alt-icon">关于我们</a>
				</li>
			</ul>
			<div class="ui-grid-solo">
				<div class="ui-block-a">
					<a href="#"  data-theme="e" class="ui-btn ui-shadow ui-corner-all">退出登录</a>
				</div>
			</div>
		</div>
		<div data-role="footer" data-position="fixed" data-tap-toggle="false">
			<div data-role="navbar">
				<ul>
					<li>
						<a href="#" data-icon="home" >主页</a>
					</li>
					<li>
						<a href="#" data-icon="user">我的帐户</a>
					</li>
					<li>
						<a href="#" data-icon="bullets">我的项目</a>
					</li>
					<li>
						<a href="#" data-icon="gear" class="ui-btn-active">更多</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div data-role ="page" id="feedback" data-title="意见反馈" class="setting" data-theme="b">
		<div data-role="header" data-position="fixed" data-tap-toggle="false">
			<a href="#" data-rel="back">&lt; 返回</a>
			<h1>意见反馈</h1>
		</div>
		<div role="main" class="ui-content">
			<form>
				<div class="ui-field-contain">
					<label for="textarea-12">Textarea:</label>
					<textarea cols="40" rows="8" name="textarea-12" id="textarea-12"></textarea>
				</div>
				<div class="ui-grid-solo">
					<div class="ui-block-a">
						<a href="#" class="ui-btn ui-shadow ui-corner-all">确认提交</a>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div data-role ="page" id="about" data-title="关于我们" class="setting" data-theme="b">
		<div data-role="header" data-position="fixed" data-tap-toggle="false">
			<a href="#" data-rel="back">&lt; 返回</a>
			<h1>关于我们</h1>
		</div>
		<div role="main" class="ui-content">
			<div class="absolute">
				<img src="{% static 'wechat/css/themes/images/login_logo.png'%}" />
				<ul data-role="listview">
				<li>
					官方网站：www.china-zc.com.cn
				</li>
				<li>
					微信账号：China-ZC
				</li>
				<li>
					客服电话：400-810-6688
				</li>
			</ul>
				<div class="ui-grid-solo">版权所有</div>
</div>
		</div>
	</div>
	<script type="text/javascript"  src="{% static 'wechat/js/jquery.js'%}"></script>
	<script type="text/javascript"  src="{% static 'wechat/js/jquery.mobile-1.4.5.min.js'%}"></script>
	<script type="text/javascript"  src="{% static 'wechat/js/qingda.js'%}"></script>
</body>
</html>