{% extends "wechat/base.html" %}
{% load staticfiles %}
{% load extra_tags%}
{% block body_block %}
<div data-role ="page" id="index" data-title="清大众筹" class="index">
	<div data-role ="header" data-position="fixed" data-tap-toggle="false">
		<h1>所有项目</h1>
		<div data-role="tabs" id="tabs" >
			<div data-role="navbar" class="ui-navbar-fixed">
				<ul>
					<li>
						<a id="t_itemsList" data-theme="f" class="ui-btn-active" >项目列表</a>
					</li>
					<li>
						<a id="t_itemsRecommend" data-theme="f">推荐项目</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div id="itemsList">
		<div id="wrapper" class="ui-content">
			<div id="scroller">
				<div id="pullDown">
					<span class="pullDownIcon"></span>
					<span class="pullDownLabel">下拉刷新...</span>
				</div>
				<ul data-role ="listview" data-theme ="f" id="thelist">
					{% for project in projects%}
					{% ifequal project.type 'stock' %}
					<li data-icon="false">
						<a href="/w/pd/tsd{{project.id}}" data-ajax="false">
							<img src="/media/{{project.image}}" />
							<h3>{{project.title}}</h3>
							<p class="progressbar" data="{{project.progress}}">
								<span class="progress"> <b class="bar"></b>
								</span>
								<span class="num">{{project.progress}}%</span>
							</p>
							<p class="cbrief">
								<span class="ui-alt-icon ui-icon-location ui-btn-icon-left">{{project.province}}</span>
								<span class="hl1">{{project.industry}}</span>
								<span class="hl2">{{project.com_type}}</span>
							</p>
							<p class="cpopular">
								<span>
									热度 <em class="hl1">{{project.view_count}}</em>
								</span>
								/
								<span>
									关注 <em class="hl1">{{project.like_count}}</em>
								</span>
								/
								<span>
									认购
									<em class="hl1">{{project.invest_count}}</em>
								</span>
							</p>
							<p class="ui-li-aside">{{project.pro_type}}</p>
						</a>
						<p class="ui-li-bottom">
							<span>
								当前融资:
								<em>{{project.current_price|toTenThous}}万</em>
							</span>
							<span>
								融资总额:
								<em>{{project.total_price|toTenThous}}万</em>
							</span>
							<span>
								认购起点:
								<em>{{project.min_price|toTenThous}}万</em>
							</span>
						</p>
					</li>
					{% else %}
					<li data-icon="false">
						<a href="/w/pd/tbd{{project.id}}" data-ajax="false">
							<img src="/media/{{project.image}}" />
							<h3>{{project.title}}</h3>
							<p class="progressbar" data="{{project.progress}}">
								<span class="progress"> <b class="bar"></b>
								</span>
								<span class="num">0</span>
							</p>
							<p>{{project.com_name}}</p>
							<p>{{project.brief}}</p>
							<p class="ui-li-aside">{{project.pro_type}}</p>
						</a>
						<p class="ui-li-bottom">
							<span>
								年化利率:
								<em class="hl1">{{project.scale}}%</em>
							</span>
							<span>
								融资总额:
								<em class="hl1">{{project.current_price|toTenThous}}万</em>
							</span>
							<span>
								授信额度:
								<em class="hl1">{{project.min_price|toTenThous}}万</em>
							</span>
						</p>
					</li>
					{% endifequal %}
					{% endfor %}
				</ul>
				<div id="pullUp">
					<span class="pullUpIcon"></span>
					<span class="pullUpLabel">上拉加载更多...</span>
				</div>
			</div>
		</div>
	</div>
	<div id="itemsRecommend" style="display:none">
		<div id= "carousel" class="slideBox">
			<ul class="items">
				<li>
					<a href="#">
						<img src="{% static 'wechat/images/img_1.png'%}" />
					</a>
				</li>
				<li>
					<a href="#">
						<img src="{% static 'wechat/images/img_1.png'%}" />
					</a>
				</li>
				<li>
					<a href="#">
						<img src="{% static 'wechat/images/img_1.png'%}" />
					</a>
				</li>
				<li>
					<a href="#">
						<img src="{% static 'wechat/images/img_1.png'%}" />
					</a>
				</li>
				<li>
					<a href="#">
						<img src="{% static 'wechat/images/img_1.png'%}" />
					</a>
				</li>
			</ul>
		</div>
		<ul data-role ="listview" data-theme ="f" data-filter="true">
			{% for project in projects_commend%}
			{% ifequal project.type 'stock' %}
			<li data-icon="false">
				<a href="/w/pd/tsd{{project.id}}" data-ajax="false">
					<img src="/media/{{project.image}}" />
					<h3>{{project.title}}</h3>
					<p class="progressbar" data="{{project.progress}}">
						<span class="progress">
							<b class="bar"></b>
						</span>
						<span class="num">0</span>
					</p>
					<p class="cbrief">
						<span class="ui-alt-icon ui-icon-location ui-btn-icon-left">{{project.province}}</span>
						<span class="hl1">{{project.industry}}</span>
						<span class="hl2">{{project.com_type}}</span>
					</p>
					<p class="cpopular">
						<span>
							热度
							<em class="hl1">{{project.view_count}}</em>
						</span>
						/
						<span>
							关注
							<em class="hl1">{{project.like_count}}</em>
						</span>
						/
						<span>
							认购
							<em class="hl1">{{project.invest_count}}</em>
						</span>
					</p>
					<p class="ui-li-aside">{{project.pro_type}}</p>
				</a>
				<p class="ui-li-bottom">
					<span>
						当前融资:
						<em>￥{{project.current_price}}</em>
					</span>
					<span>
						融资总额:
						<em>￥{{project.total_price}}</em>
					</span>
					<span>
						认购起点:
						<em>￥{{project.min_price}}</em>
					</span>
				</p>
			</li>
			{% else %}
			<li data-icon="false">
				<a href="/w/pd/tbd{{project.id}}" data-ajax="false">
					<img src="/media/{{project.image}}" />
					<h3>{{project.title}}</h3>
					<p class="progressbar" data="{{project.progress}}">
						<span class="progress">
							<b class="bar"></b>
						</span>
						<span class="num">0</span>
					</p>
					<p>{{project.com_name}}</p>
					<p>{{project.brief}}</p>
					<p class="ui-li-aside">{{project.pro_type}}</p>
				</a>
				<p class="ui-li-bottom">
					<span>
						年化利率:
						<em class="hl1">{{project.scale}}%</em>
					</span>
					<span>
						融资总额:
						<em class="hl1">￥{{project.current_price}}</em>
					</span>
					<span>
						授信额度:
						<em class="hl1">￥{{project.min_price}}</em>
					</span>
				</p>
			</li>
			{% endifequal %}
			{% endfor %}
		</ul>
	</div>
	<div data-role="footer" data-position="fixed" data-tap-toggle="false">
		<div data-role="navbar">
			<ul>
				<li>
					<a href="#" data-icon="home" class="ui-btn-active">主页</a>
				</li>
				<li>
					<a href="/w/account/" data-icon="user" data-ajax='false'>我的帐户</a>
				</li>
				<li>
					<a href="/w/mypro/" data-icon="bullets" data-ajax='false'>我的项目</a>
				</li>
				<li>
					<a href="/w/setting/" data-icon="gear" data-ajax='false'>更多</a>
				</li>
			</ul>
		</div>
	</div>
</div>
{% endblock %}