{% extends "wechat/base.html" %}
{% load staticfiles %}
{% load extra_tags%}
{% block body_block %}
<div data-role ="page" id="mylike" data-title="清大众筹" class="mypro">
	<div data-role ="header" data-position="fixed" data-tap-toggle="false">
		<a href="#" data-rel="back" class="ui-btn ui-btn-icon-left ui-icon-carat-l">返回</a>
		<h1>我的关注</h1>
	</div>
		<div id="subscribing" class="ui-content">
			<ul data-role ="listview" data-theme ="f" >
				{% for project in projects%}
					<li data-icon="false">
						<a href="/w/pd/t{{project.type}}d{{project.id}}" data-ajax="false">
							<img src="/media/{{project.image}}" />
							<h3>{{project.title|slice:"8"}}...</h3>
							<p class="intro">{{project.brief}}</p>
							<p class="hl2">融资金额：{{project.total_price|toTenThous}}万</p>
							{% ifequal project.type 'stock' %}
								<p class="ui-li-aside">股权类</p>
							{% endifequal%}
							{% ifequal project.type 'bond' %}
								<p class="ui-li-aside">债权类</p>
							{% endifequal%}
						</a>
					</li>
				{% endfor %}
			</ul>
		</div>
</div>
{% endblock %}