{% extends "wechat/base.html" %}
{% load staticfiles %}
{% load extra_tags%}
{% block body_block %}
<div data-role ="page" id="myproject" data-title="清大众筹" class="mypro">
	<div data-role ="header" data-position="fixed" data-tap-toggle="false">
		<h1>我的项目</h1>
	</div>
	<div data-role="tabs" id="tabs" >
		<div data-role="navbar" class="ui-navbar-fixed">
			<ul>
				<li>
					<a href="#subscribing" data-theme="f" class="ui-btn-active" >认购中</a>
				</li>
				<li>
					<a href="#holding" data-theme="f">持有中</a>
				</li>
				<li>
					<a href="#completed" data-theme="f">已完成</a>
				</li>
			</ul>
		</div>
		<div id="subscribing" class="ui-content">
			<ul data-role ="listview" data-theme ="f" >
				{% for project in projects_s1%}
					<li data-icon="false">
						<a href="/w/myproinvest/t{{project.type}}d{{project.id}}" data-ajax="false">
							<img src="/media/{{project.image}}" />
							<p class="ui-status">认购中</p>
							<h3>{{project.title}}</h3>
							<p class="intro">{{project.brief}}</p>
							<p class="hl2">融资总额：{{project.total_price|toTenThous}}万</p>
							{% ifequal project.type 'stock' %}
								<p class="ui-li-aside">股权类</p>
							{% endifequal%}
							{% ifequal project.type 'bond' %}
								<p class="ui-li-aside">债权类</p>
							{% endifequal%}
						</a>
					</li>
				{% endfor %}
			</ul>
		</div>
		<div id="holding" class="ui-content">
			<ul data-role ="listview" data-theme ="f" >
				{% for project in projects_s2%}
					<li data-icon="false">
						<a href="/w/myproinvest/t{{project.type}}d{{project.id}}" data-ajax="false">
							<img src="/media/{{project.image}}" />
							<p class="ui-status">持有中</p>
							<h3>{{project.title}}</h3>
							<p class="intro">{{project.brief}}</p>
							<p class="hl2">融资金额：{{project.total_price|toTenThous}}万</p>
							{% ifequal project.type 'stock' %}
								<p class="ui-li-aside">股权类</p>
							{% endifequal%}
							{% ifequal project.type 'bond' %}
								<p class="ui-li-aside">债权类</p>
							{% endifequal%}
						</a>
					</li>
				{% endfor %}
			</ul>
		</div>
		<div id="completed" class="ui-content">
			<ul data-role ="listview" data-theme ="f" >
				{% for project in projects_s3%}
					<li data-icon="false">
						<a href="/w/myproinvest/t{{project.type}}d{{project.id}}" data-ajax="false">
							<img src="/media/{{project.image}}" />
							<p class="ui-status">已完成</p>
							<h3>{{project.title}}</h3>
							<p class="intro">{{project.brief}}</p>
							<p class="hl2">融资金额：{{project.total_price|toTenThous}}万</p>
							{% ifequal project.type 'stock' %}
								<p class="ui-li-aside">股权类</p>
							{% endifequal%}
							{% ifequal project.type 'bond' %}
								<p class="ui-li-aside">债权类</p>
							{% endifequal%}
						</a>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<div data-role="footer" data-position="fixed" data-tap-toggle="false">
		<div data-role="navbar">
			<ul>
				<li>
					<a href="/w/" data-icon="home" data-ajax='false'>主页</a>
				</li>
				<li>
					<a href="/w/account/" data-icon="user" data-ajax='false'>我的帐户</a>
				</li>
				<li>
					<a href="#" data-icon="bullets"  class="ui-btn-active">我的项目</a>
				</li>
				<li>
					<a href="/w/setting/" data-icon="gear" data-ajax='false'>更多</a>
				</li>
			</ul>
		</div>
	</div>
</div>
{% endblock %}