{% extends "wechat/base.html" %}
{% load staticfiles %}
{% load extra_tags%}
{% block body_block %}
<div data-role ="page" id="personal" data-title="个人中心" class="personal">
	<div data-role="header" data-tap-toggle="false">
		<a href="#" class="ui-btn ui-btn-message new"></a>
		<h1>我的帐户</h1>
		<p>
			<img src="{% static 'wechat/images/user_pic.png'%}" />
		</p>
		<p>{{request.session.USER_NAME}}</p>
		<div class="ui-grid-b">
			<div class="ui-block-a">
				<p>{{account.ac_like}}</p>
				<p>
					<span>喜欢</span>
				</p>
			</div>
			<div class="ui-block-b">
				<p>{{account.ac_support}}</p>
				<p>
					<span>支持</span>
				</p>
			</div>
			<div class="ui-block-c">
				<p>{{account.ac_infos}}</p>
				<p>
					<span>消息</span>
				</p>
			</div>
		</div>
	</div>
	<div role="main" class="ui-content">
		<div class="ui-grid-solo">
			<div class="ui-block-a">
				<p>投资总额（元）</p>
				<p class="total">{{account.ac_total_invest|money}}</p>
			</div>
		</div>
		<div class="ui-grid-a">
			<div class="ui-block-a" >
				<p>股权投资（元）</p>
				<p class="part">{{account.ac_stock_invest|money}}</p>
			</div>
			<div class="ui-block-b" >
				<p>债权投资（元）</p>
				<p class="part">{{account.ac_bond_invest|money}}</p>
			</div>
		</div>
		<div class="ui-grid-solo">
			<div class="ui-block-a">
				<p>
					收益总额（元）
					<span>收益记录</span>
				</p>
				<p class="total">{{account.ac_total_profit|money}}</p>
			</div>
		</div>
		<div class="ui-grid-a">
			<div class="ui-block-a" >
				<p>股权收益（元）</p>
				<p class="part">{{account.ac_stock_profit|money}}</p>
			</div>
			<div class="ui-block-b" >
				<p>债权收益（元）</p>
				<p class="part">{{account.ac_bond_profit|money}}</p>
			</div>
		</div>
		<div class="ui-grid-a subscribe">
			<div class="ui-block-a" >
				<p>认购定金（元）</p>
				<p class="total">{{account.ac_subscription|money}}</p>
			</div>
			<div class="ui-block-b" >
				<p>认购总额（元）</p>
				<p class="total">{{account.ac_total_subscription|money}}</p>
			</div>
		</div>
	</div>
	<div data-role="footer" data-tap-toggle="false">
		<div data-role="navbar">
			<ul>
				<li>
					<a href="/w" data-icon="home" data-ajax='false'>主页</a>
				</li>
				<li>
					<a href="#" data-icon="user" class="ui-btn-active">我的帐户</a>
				</li>
				<li>
					<a href="#" data-icon="bullets">我的项目</a>
				</li>
				<li>
					<a href="#" data-icon="gear">设置</a>
				</li>
			</ul>
		</div>
	</div>
</div>
{% endblock %}