{% extends "wechat/base.html" %}
{% load staticfiles %}
{% load extra_tags%}
{% block body_block %}
<div data-role ="page" id="personal" data-title="个人中心" class="personal">
	<div data-role="header">
		<a href="#messageList" data-transition="slidefade" class="ui-btn ui-btn-right ui-btn-message new"></a>
		<h1>我的帐户</h1>
		<p>
			<img src="{% static 'wechat/images/user_pic.png'%}" />
		</p>
		<p>{{request.session.USER_NAME}}</p>
		<div class="ui-grid-b">
			<div class="ui-block-a">
				<a href="/w/mylike/" data-ajax="false"><p>{{account.ac_like}}</p></a>
				<p>
					<span>喜欢</span>
				</p>
			</div>
			<div class="ui-block-b">
				<a href="/w/mypro/" data-ajax="false"><p>{{account.ac_support}}</p></a>
				<p>
					<span>支持</span>
				</p>
			</div>
			<div class="ui-block-c">
				<a href="#messageList" data-transition="slidefade"><p>{{account.ac_infos}}</p></a>
				<p>
					<span>消息</span>
				</p>
			</div>
		</div>
	</div>
	<div role="main" class="ui-content">
		<div class="ui-grid-solo">
			<div class="ui-block-a">
				<p>投资总额（元）</p>
				<p class="total">{{account.ac_total_invest|money}}</p>
			</div>
		</div>
		<div class="ui-grid-a">
			<div class="ui-block-a" >
				<p>股权投资（元）</p>
				<p class="part">{{account.ac_stock_invest|money}}</p>
			</div>
			<div class="ui-block-b" >
				<p>债权投资（元）</p>
				<p class="part">{{account.ac_bond_invest|money}}</p>
			</div>
		</div>
		<div class="ui-grid-solo">
			<div class="ui-block-a">
				<p>
					收益总额（元）
					<a href="#recordList" data-transition="slide">
						<span>收益记录</span>
					</a>
				</p>
				<p class="total">{{account.ac_total_profit|money}}</p>
			</div>
		</div>
		<div class="ui-grid-a">
			<div class="ui-block-a" >
				<p>股权收益（元）</p>
				<p class="part">{{account.ac_stock_profit|money}}</p>
			</div>
			<div class="ui-block-b" >
				<p>债权收益（元）</p>
				<p class="part">{{account.ac_bond_profit|money}}</p>
			</div>
		</div>
		<div class="ui-grid-a subscribe">
			<div class="ui-block-a" >
				<p>认购定金（元）</p>
				<p class="total">{{account.ac_subscription|money}}</p>
			</div>
			<div class="ui-block-b" >
				<p>认购总额（元）</p>
				<p class="total">{{account.ac_total_subscription|money}}</p>
			</div>
		</div>
	</div>
	<div data-role="footer" data-position="fixed" data-tap-toggle="false">
		<div data-role="navbar">
			<ul>
				<li>
					<a href="/w" data-icon="home" data-ajax='false'>主页</a>
				</li>
				<li>
					<a href="/w/account/" data-icon="user" data-ajax='false' class="ui-btn-active">我的帐户</a>
				</li>
				<li>
					<a href="/w/mypro/" data-icon="bullets" data-ajax='false'>我的项目</a>
				</li>
				<li>
					<a href="/w/setting/" data-icon="gear" data-ajax='false'>更多</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<div data-role ="page" id="recordList" data-title="清大众筹" class="personal">
	<div data-role="header">
		<a href="#" data-rel="back" data-ajax="false" class="ui-btn ui-btn-icon-left ui-icon-carat-l">我的账户</a>
		<h1>收益列表</h1>
	</div>
	<div role="main" class="ui-content">
		<ul data-role ="listview" data-theme ="f" >
			{% for profit in profits%}
				<li >
					<h3>{{profit.title}}</h3>
					<p>
						{{profit.date}}
						<span class="hl2">{{profit.amount|money}}元</span>
					</p>
					{% ifequal profit.type 'stock' %}
						<p class="ui-li-aside">股权众筹</p>
					{% endifequal%}
					{% ifequal profit.type 'bond' %}
						<p class="ui-li-aside">债权众筹</p>
					{% endifequal%}
				</li>
			{% endfor %}
		</ul>
	</div>
</div>
<div data-role ="page" id="messageList" data-title="清大众筹" class="personal">
	<div data-role="header">
		<a href="#" data-rel="back" data-ajax="false" class="ui-btn ui-btn-icon-left ui-icon-carat-l">返回</a>
		<h1>消息列表</h1>
	</div>
	<div role="main" class="ui-content">
		<ul data-role ="listview" data-theme ="e" >
			{% for notice in notices%}
			{% if notice.is_read == 0%}
			<li data-icon="false" class="unread">
			{% else %}
			<li data-icon="false">
			{% endif %}
				<a href="/w/nodetail/t{{notice.type}}d{{notice.id}}" data-transition="slidefade" data-ajax="false">
					<h3>{{notice.title}}</h3>
					<p>
						{% ifequal notice.type 'sys' %}
						<span>系统通知</span>
						{% else %}
						<span>用户通知</span>
						{% endifequal %}
						<span>{{notice.time}}</span>
					</p>
					<p>{{notice.brief}}</p>
				</a>
			</li>
			{% endfor %}
		</ul>
	</div>
</div>
{% endblock %}