<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>清大众筹</title>
	<link rel="shortcut icon" href="favicon.png">
	<link href="{% static 'wechat/css/themes/qingda.css'%}" rel="stylesheet" charset="utf-8" />
	<link href="{% static 'wechat/css/themes/jquery.mobile.icons.min.css'%}" rel="stylesheet" charset="utf-8" />
	<link href="{% static 'wechat/css/themes/jquery.mobile.structure-1.4.5.css'%}" rel="stylesheet" charset="utf-8" />
	<link href="{% static 'wechat/css/themes/style.css'%}" rel="stylesheet" charset="utf-8" />
</head>
<body>					
	<div class="pro-content">
		{% autoescape off %}
		{% if stock%}
		{% if stock.st_video %}
            <div id='plv_video' data='{{stock.st_video}}'></div>
        {% endif %}
		<strong>重要提示</strong>
		{{stock.st_hint}}
		<strong>公司介绍</strong>
		{{stock.st_com_brief}}
		<strong>投资者保护机制</strong>
		{{stock.st_protect}}
		<strong>信息披露安排</strong>
		{{stock.st_inf_expose}}
		<strong>融资计划</strong>
		{{stock.st_plan}}
		<strong>财务情况</strong>
		{{stock.st_finance}}
		<strong>优势和劣势</strong>
		{{stock.st_good_bad}}
		<strong>市场分析</strong>
		{{stock.st_market}}
		<strong>商业模式</strong>
		{{stock.st_business}}
		<strong>风险控制</strong>
		{{stock.st_risk}}
		<strong>团队介绍</strong>
		{{stock.st_team}}
		{% elif bond %}
		{% if bond.bo_video %}
            <div id='plv_video' data='{{bond.bo_video}}'></div>
        {% endif %}
		<strong>企业基本信息</strong>
		{{bond.bo_com_inf}}
		<strong>财务状况</strong>
		{{bond.bo_finance}}
		<strong>项目风险保障</strong>
		{{bond.bo_risk_inf}}
		<strong>还款计划</strong>
		{{bond.bo_repay_plan}}
		{% endif %}
		{% endautoescape %}
	</div>	
	<script type="text/javascript"  src="{% static 'wechat/js/jquery.js'%}"></script>
	<script type="text/javascript"  src="{% static 'wechat/js/jquery.mobile-1.4.5.min.js'%}"></script>
	<script src='http://static.polyv.net/file/polyvplayer_v2.0.min.js'></script>
	<script type="text/javascript"  src="{% static 'wechat/js/detail.js'%}"></script>
</body>
</html>