<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>清大众筹</title>
	<link rel="shortcut icon" href="favicon.png">
	<link href="{% static 'wechat/css/themes/qingda.css'%}" rel="stylesheet" charset="utf-8" />
	<link href="{% static 'wechat/css/themes/jquery.mobile.icons.min.css'%}" rel="stylesheet" charset="utf-8" />
	<link href="{% static 'wechat/css/themes/jquery.mobile.structure-1.4.5.css'%}" rel="stylesheet" charset="utf-8" />
	<link href="{% static 'wechat/css/themes/style.css'%}" rel="stylesheet" charset="utf-8" />
</head>
<body>					
	<div class="pro-content">
		<strong>重要提示</strong>
		{% autoescape off %}
		{{stock.st_hint}}
		{% endautoescape %}
	</div>	
	<script type="text/javascript"  src="{% static 'wechat/js/jquery.js'%}"></script>
	<script type="text/javascript"  src="{% static 'wechat/js/jquery.mobile-1.4.5.min.js'%}"></script>
</body>
</html>