{% extends "wechat/base.html" %}
{% load staticfiles %}
{% load extra_tags%}
{% block body_block %}
<div data-role="page" id="pro_detail" data-title="清大众筹" class="pro_detail">
	<div data-role="header" data-position="fixed" data-tap-toggle="false">
		<a href="#" data-rel="back">&lt; 返回</a>
		<h1>{{title}}</h1>
	</div>

	<div data-role="tabs" id="detailtabs">
		<div data-role="navbar" class="ui-navbar-fixed">
			<div class="relative">
				<div class="co_covers">
					<img src="/media/{{image}}" />
					<div class="follow">
						<p href="#" class="follow-heart" type="{{p_type}}" pid="{{id}}">&nbsp;</p>
					</div>
					<div class="popular">
						<div class="ui-grid-b">
							<div class="ui-block-a">
								<p>{{view_count}}</p>
								<p>
									<span>热度</span>
								</p>
							</div>
							<div class="ui-block-b">
								<p id="like_count">{{like_count}}</p>
								<p>
									<span>关注</span>
								</p>
							</div>
							<div class="ui-block-c">
								<p>{{invest_count}}</p>
								<p>
									<span>认购</span>
								</p>
							</div>
						</div>
					</div>
					<div class="progressbar" data="{{progress}}">
						<span class="progress"> <b class="bar"></b>
						</span>
					</div>
				</div>

				<ul>
					<li>
						<a href="#base_info" data-theme="f" data-ajax="false"  class="ui-btn-active" >
							<span>基本信息</span>
						</a>
					</li>
					<li>
						<a href="#pro_intro" data-theme="f" data-ajax="false">
							<span>项目详情</span>
						</a>
					</li>
					<li>
						<a href="#invest_manage" data-theme="f" data-ajax="false" data-prefetch="ture" >
							<span>投后管理</span>
						</a>
					</li>
				</ul>
				<div class="ui-grid-solo">
					<div class="ui-block-a">
						<h3>{{title}}</h3>
						<p class="cbrief">
							<span class="ui-alt-icon ui-icon-location ui-btn-icon-left">{{province}}</span>
							<span class="hl1">{{st_industry}}</span>
							<span class="hl2">{{st_com_type}}</span>
							<span class="hl3">剩余{{end_time|lastDays}}天</span>
						</p>
						<p class="ui-li-aside">{{st_pro_type}}</p>
					</div>
				</div>
			</div>
		</div>
		<div id="base_info" class="ui-content">
			<ul data-role="listview">
				<li class="ui-grid-b">
					<div class="ui-block-a">
						<p>{{current_price|toTenThous}}万</p>
						<p>
							<span>当前融资</span>
						</p>
					</div>
					<div class="ui-block-b">
						<p>{{total_price|toTenThous}}万</p>
						<p>
							<span>融资总额</span>
						</p>
					</div>
					<div class="ui-block-c">
						{% if scale %}
						<p>{{scale}}%</p>
						<p>
							<span>年化利率</span>
						</p>
						{% else %}
						<p>{{min_price|toTenThous}}万</p>
						<p>
							<span>认购起点</span>
						</p>
						{% endif %}
					</div>
				</li>
				<li>
					<a href="#pro_detail_list" class="ui-alt-icon">认购历史</a>
				</li>
			</ul>
		</div>
		<div id="pro_intro" class="ui-content">
			<div class="pro-content">
				{% autoescape off %}
				{% if stock%}
				{% if stock.st_video %}
		            <div id='plv_video' data='{{stock.st_video}}'></div>
		        {% endif %}
				<strong>重要提示</strong>
				{{stock.st_hint}}
				<strong>公司介绍</strong>
				{{stock.st_com_brief}}
				<strong>投资者保护机制</strong>
				{{stock.st_protect}}
				<strong>信息披露安排</strong>
				{{stock.st_inf_expose}}
				<strong>融资计划</strong>
				{{stock.st_plan}}
				<strong>财务情况</strong>
				{{stock.st_finance}}
				<strong>优势和劣势</strong>
				{{stock.st_good_bad}}
				<strong>市场分析</strong>
				{{stock.st_market}}
				<strong>商业模式</strong>
				{{stock.st_business}}
				<strong>风险控制</strong>
				{{stock.st_risk}}
				<strong>团队介绍</strong>
				{{stock.st_team}}
				{% elif bond %}
				{% if bond.bo_video %}
		            <div id='plv_video' data='{{bond.bo_video}}'></div>
		        {% endif %}
				<strong>企业基本信息</strong>
				{{bond.bo_com_inf}}
				<strong>财务状况</strong>
				{{bond.bo_finance}}
				<strong>项目风险保障</strong>
				{{bond.bo_risk_inf}}
				<strong>还款计划</strong>
				{{bond.bo_repay_plan}}
				{% endif %}
				{% endautoescape %}
			</div>
		</div>
		<div id="invest_manage" class="ui-content">
			{% autoescape off %}
			{{promanage}}
			{% endautoescape %}
		</div>
	</div>
	<div data-role="footer" data-position="fixed" data-tap-toggle="false" data-theme="b">
		<div class="ui-grid-a bottomnav">
			<div class="ui-block-a">
				<input type="text" id = "input-money" name="input-money" placeholder="认购金额{{min_price|toTenThous}}万元起" />
			</div>
			<div class="ui-block-b">
				<button  class="btn-confirm">确认投标</button>
			</div>
		</div>

	</div>
</div>
<div data-role="page" id="pro_detail_list" data-title="投资人列表" class="pro_detail">
	<div data-role="header" data-position="fixed" data-tap-toggle="false">
		<a href="#" data-rel="back">&lt; 返回</a>
		<h1>投资人列表</h1>
	</div>
	<div role="main" class="ui-content">
		<ul data-role="listview">
			{% for invest in invests%}
			<li class="ui-grid-b">
				<div class="ui-block-a">{{invest.date|date:"Y-m-d"}}</div>
				<div class="ui-block-b">{{invest.user|slice:"1"}}**</div>
				<div class="ui-block-c">￥{{invest.price}}</div>
			</li>
			{% endfor %}
		</ul>
	</div>
</div>
{% endblock %}