{% extends "wechat/base.html" %}
{% load staticfiles %}
{% load extra_tags%}
{% block body_block %}
<div data-role ="page" id="reg" data-title="注册用户" class="reg" data-theme="b">
	<div data-role="header" data-position="fixed" data-tap-toggle="false">
		<a href="#" data-rel="back">&lt; 返回</a>
		<h1>注册</h1>
	</div>
	<div role="main" class="ui-content">
		<form>
			<div class="ui-field-contain">
				<label for="user">用户名:</label>
				<input type="text" name="user" id="user" value="" />
			</div>
			<div class="ui-field-contain">
				<label for="pwd">登录密码:</label>
				<input type="text" name="pwd" id="pwd" value="" />
			</div>
			<div class="ui-field-contain">
				<label for="cpwd">确认密码:</label>
				<input type="text" name="cpwd" id="cpwd" value="" />
			</div>
			<div class="ui-field-contain">
				<label for="tel">手机号码:</label>
				<input type="text" name="tel" id="tel" value="" />
			</div>
			<div data-role="controlgroup">
				<div class="ui-field-contain">
					<label for="dc">动态码:</label>
					<input type="text" name="dc" id="dc" value="" />
				</div>
				<button>免费获取</button>
			</div>
			<div class="ui-grid-solo">
				<label>
					<input type="checkbox" name="checkbox-0 ">我已阅读并同意</label>
			</div>
			<div class="ui-grid-solo">
				<a href="">清大众筹用户服务协议</a>
			</div>
			<div class="ui-grid-solo">
				<div class="ui-block-a">
					<a href="#" class="ui-btn ui-shadow ui-corner-all">确认提交</a>
				</div>
			</div>
		</form>
	</div>
</div>
{% endblock %}