@charset "utf-8";
/* public */
*{ padding:0; margin:0; font-size:12px; font-family:SimSun,'Microsoft YaHei'; text-decoration:none; border:none; list-style:none;}
.left{ float:left;}
.right{ float:right;}
.tleft{ text-align:left;}
.tright{ text-align:right;}
.red{ color:#e60012;}
.leftgap{ margin-left:20px;}
.inline{ display:inline-block;}
.clearfix{ clear:both;}
.btn{ background-color:#2a8ade; border:1px solid #1771d2; color:#fff;cursor:pointer;}
.btn:hover,.hoverbtn{ background-color:#ff8c19; border:1px solid #dd6f00;}
.wrap{ width:1000px; margin:0 auto;}
.titlebg{ background:url(../images/title_bg.png) right bottom repeat-x; }
.titlebg .title{ padding-right:10px; line-height:22px; background:#FFF;font-size:28px; color:#000; font-family:'Microsoft YaHei'; font-weight:500;}

button[disabled]{cursor: default;}
.btn.disabled,
.btn[disabled]{pointer-events:none;cursor: not-allowed;opacity: 0.65;filter: alpha(opacity=65);-webkit-box-shadow: none;box-shadow: none;}
/* header */
.header{ background-color:#0069a8; border-top:3px solid #00518c; width:100%; height:120px;}
.header .logo{ margin-top:20px;}
.header .navi{ margin-top:10px; margin-left:30px;}
.header .navi li{ float:left; height:40px;}
.header .navi li a{ border:1px solid #7fb2cc; display:inline-block; line-height:40px; font-size:14px; font-weight:600; padding:0 25px 0 55px; margin-left:20px; color:#7fb2cc;}
.header .navi li a:hover,.header .navi .hover a{ border:2px solid #e0f5ff; color:#e0f5ff; line-height:38px; padding:0 24px 0 54px;}
.header .navi li .home{ background:url(../images/navi_ico_home_b.png) 20px center no-repeat;}
.header .navi li .project{ background:url(../images/navi_ico_project_b.png) 20px center no-repeat;}
.header .navi li .investor{ background:url(../images/navi_ico_attom_b.png) 20px center no-repeat;}
.header .navi li .attom{ background:url(../images/navi_ico_investor_b.png) 20px center no-repeat;}
.header .navi li .home:hover,.header .navi .hover .home{ background:url(../images/navi_ico_home_w.png) 19px center no-repeat;}
.header .navi li .project:hover,.header .navi .hover .project{ background:url(../images/navi_ico_project_w.png) 19px center no-repeat;}
.header .navi li .investor:hover,.header .navi .hover .investor{ background:url(../images/navi_ico_attom_w.png) 19px center no-repeat;}
.header .navi li .attom:hover,.header .navi .hover .attom{ background:url(../images/navi_ico_investor_w.png) 19px center no-repeat;}
.header .userbar{ width:280px; height:30px; text-align:center; line-height:30px; color:#7fb2cc; background-color:#00518c;}
.header .userbar a{ color:#7fb2cc; padding:0px 18px; font-size:14px; margin-left:20px;}
.header .userbar a:hover{ text-decoration:underline;}
.header .userbar .login{ background:url(../images/lock.png) left center no-repeat;}
.header .userbar .reg{ background:url(../images/user.png) left center no-repeat;}
.header .userbar .unlock{ background:url(../images/unlock.png) left center no-repeat;}

/* titlebar */
.body .titlebar{ overflow:hidden; height:30px;}
.body .titlebar h1{ font-size:24px; font-family:'Microsoft YaHei';}
.body .titlebar .location{ color:#666; margin-top:12px;}
.body .titlebar .location span{ padding:3px 5px; border:1px solid #999;}
.body .titlebar .location .hover{ color:#0099ff; border:1px solid #0099ff;}

/** page **/
.page_navi{ width:68%;}
.page_navi li{ float:left;}
.page_navi li a{ display:block; font-size:16px; font-weight:bold; text-align:center; line-height:33px; margin:0 5px; color:#666; width:33px; height:33px; border:1px solid #ccc;}
.page_navi li a:hover,.body .page_navi li .hover{ background-color:#0099ff; border-color:#007bb0; color:#fff;}
.page_navi li .hover{ cursor:default;}
.page_num{ width:30%; font-size:16px; text-align:right; line-height:50px; font-family:'Microsoft YaHei';}
.page_num span{ color:#ff0000; font-size:16px; font-family:'Microsoft YaHei';}
/* footer */
.footer{ background-color:#0069a8; margin-top:45px; height:90px; padding:40px 0; line-height:30px; text-align:center; color:#7fb2cc;}
.footer .link,.footer .link a{ color:#fff;}

/* banner */
.bannerbar{ background:url(../images/banner_bg.png) left center repeat-x; height:520px; width:100%;}
.bannerbar .banner .wrap{position:relative; height:520px; overflow:hidden;}
.bannerbar .banner .wrap .item{ display:none; position:absolute; top:0; left:0;}
.bannerbar .banner .wrap .temp{ position:absolute; left:1000px;}
.bannerbar .banner .wrap > div > img{ width:1000px; height:520px;}
.bannerbar .banner .switch{ text-align:center; position:absolute; bottom:35px; left:468px;}
.bannerbar .banner .switch li{ width:11px; height:11px; float:left; margin:0 5px; cursor:pointer; background-color:#fff; opacity:0.5;}
.bannerbar .banner .switch li:hover,.bannerbar .banner .switch .hover{  opacity:1;}

/** tabmenu **/
body .wrap > .tabmenu{ height:39px; margin-top:30px; border-bottom:2px solid #0069a8;}
body .wrap > .tabmenu li{ float:left;border-left:1px solid #eee; border-top:1px solid #eee;}
body .wrap > .tabmenu li:last-child{ border-right:1px solid #eee;}
body .wrap > .tabmenu li a{ display:block; font-size:14px; font-weight:bold; color:#000; width:140px; height:38px;text-align:center; line-height:39px;}
body .wrap > .tabmenu li a:hover,body .wrap > .tabmenu .hover a{ color:#fff; background-color:#0069a8;}

/* underway */
.level{ margin-top:10px;}
.level > .title{ height:50px; line-height:60px; border-bottom:2px solid #eee;}
.level > .title .left{font-size:24px; font-weight:600;}
.level > .title .right a{ color:#666; border:1px solid #eee; padding:3px 10px;}
.level > .title .right a:hover{color:#0099ff;}
.level .list{ margin-top:20px;}
.level .list li{ float:left; width:314px; border:1px solid #eee; margin-right:26px;}
.level .list li:nth-child(3n) { margin-right:0;}
.level .list li > div{ overflow:hidden; margin:10px 10px 0 10px;}
.level .list li .img{ position:relative; margin:0; width:314px; height:162px; cursor:pointer;}
.level .list li .img .tip{ position:absolute; display:none; bottom:0; text-align:left; background-color:#000; color:#fff; padding:5px; opacity:0.65;}
.level .list li:hover .img .tip{ display:block;}
.level .list li .img .tip .remain{color:#ff8c19; text-align:right;}
.level .list li .namebar .name a{ color:#0099ff; font-size:14px; font-weight:600; line-height:24px;}
.level .list li .namebar .name a:hover{ text-decoration:underline;}
.level .list li .namebar .status{ width:56px; height:20px; text-align:center; color:#fff; background-color:#0099ff; line-height:20px;}
.level .list li .progressbar .gray{ position:relative; width:250px; height:9px; background:url(../images/progressbar_bg.png) right center no-repeat #d9d9de;}
.level .list li .progressbar .yellow{ position:absolute; width:75%; height:9px; left:0; background:url(../images/progressbar.png) right center no-repeat #ff8c19;}
.level .list li .progressbar .percent{ line-height:10px; color:#ff8c19; font-weight:600;}
.level .list li .money > div{ width:90px; text-align:left;}
.level .list li .money > div:last-child{ width:110px;}
.level .list li .money > div > p{ line-height:20px; color:#000;}
.level .list li .money > div > p:last-child{ color:#666;}
.level .list li .cinfo{ border-top:1px solid #eee; padding:10px; padding-bottom:0; margin:10px 0 0 0;}
.level .list li .cinfo .location{ background:url(../images/location_ico.png) left center no-repeat; padding:5px 0 5px 15px;}
.level .list li .cinfo .clazz a{color:#0099ff;}
.level .list li .cinfo .clazz{ margin-left:20px;}
.level .list li .cinfo .status{ color:#ff8c19; font-weight:bold;}
.level .list li .course{padding:10px; margin:0;}
.level .list li .course span{ color:#0099ff;}

.level .list .preheat .namebar .name a{ color:#379945;}
.level .list .preheat .namebar .status{ background-color:#379945;}
.level .list .preheat .cinfo .clazz a{color:#379945;}
.level .list .preheat .course span{ color:#379945;}
.level .list .preheat .progressbar{ color:#ff8c19; background:url(../images/fire.png) left center no-repeat; padding-left:20px;}

.level .list .finished .namebar .name a{ color:#ff8c19;}
.level .list .finished .namebar .status{ background-color:#ff8c19;}
.level .list .finished .cinfo .clazz a{color:#ff8c19;}
.level .list .finished .course span{ color:#ff8c19;}
.level .list .finished .progressbar .yellow{ width:100%; background:url(../images/progressbar1.png) right center no-repeat #ff8c19;}

.wrap > .bond,.wrap > .transfer{ display:none;}
.bond .plist li{ width:298px; float:left; margin-right:20px; margin-top:20px; border:1px solid #eee; padding:10px; line-height:22px;}
.bond .plist li:last-child{ margin-right:0;}
.bond .plist li .status{ width:50px; height:50px; font-size:20px; color:#fff; text-align:center; line-height:50px; font-weight:bold; font-family:'微软雅黑'; background-color:#0099ff;}
.bond .plist li .company{ font-size:14px; font-weight:bold; width:238px; margin-left:10px; color:#0099ff; line-height:25px;}
.bond .plist li .company .progressbar{ margin-top:10px;}
.bond .plist li .progressbar .gray{ position:relative; width:190px; height:9px; background:url(../images/progressbar_bg.png) right center no-repeat #d9d9de;}
.bond .plist li .progressbar .blue{ position:absolute; width:75%; height:9px; left:0; background:url(../images/progressbar_b.png) right center no-repeat #0099ff;}
.bond .plist li .progressbar .yellow{ position:absolute; width:75%; height:9px; left:0; background:url(../images/progressbar1.png) right center no-repeat #ff8c19;}
.bond .plist li .progressbar .green{ position:absolute; width:75%; height:9px; left:0; background:url(../images/progressbar_g.png) right center no-repeat #379945;}
.bond .plist li .progressbar .percent{ line-height:10px; color:#0099ff; font-weight:600;}
.bond .plist li .ctext{ color:#0099ff; display:inline-block; width:80px;}
.bond .plist li .g{ padding-right:15px;}
.bond .plist li hr{ width:318px; margin:5px -10px; border-top:1px solid #eee;}
.bond .refund .plist li .status{ background-color:#379945;}
.bond .refund .plist li .company{color:#379945;}
.bond .refund .plist li .progressbar .percent{color:#379945;}
.bond .refund .plist li .ctext{ color:#379945;}
.bond .frefund .plist li .status{ background-color:#ff8c19;}
.bond .frefund .plist li .company{color:#ff8c19;}
.bond .frefund .plist li .progressbar .percent{color:#ff8c19;}
.bond .frefund .plist li .ctext{ color:#ff8c19;}

.transfer ul li{ float:left; width:470px; padding:10px;}
.transfer ul li:nth(2){ margin-left:20px;}
.transfer ul li > div { overflow:hidden; line-height:38px;}
.transfer ul li > .nbar .left{ font-size:14px; font-weight:bold;}
.transfer ul li > .nbar .right{ padding:3px 8px; color:#fff; line-height:15px; margin-left:10px; margin-top:8px;}
.transfer ul li > .pbar{ border-top:1px solid #eee; border-bottom:1px solid #eee;}
.transfer ul li > .lbar .left span,.transfer ul li > .pbar span{ margin-right:10px;}
.transfer ul li > div .bb{ background-color:#0099ff;}
.transfer ul li > div .bg{ background-color:#379945;}
.transfer ul li > div .by{ background-color:#ff8c19;}
.transfer ul li > div .bp{ background-color:#8a00ff;}
.transfer ul li > div .b{color:#0099ff;}
.transfer ul li > div .y{color:#ff8c19;}
/** stock **/
.filterpart{ margin-top:10px; border:1px solid #eee; border-top:2px solid #0069a8; padding:10px 20px;}
.filterpart > div{ line-height:30px; color:#333; padding:10px 0;}
.filterpart > div span a{ padding:5px 10px; color:#333;}
.filterpart > div span a:hover,.filterpart > div .hover a{ color:#fff; background-color:#0099ff;}
.filterpart > div .extend a{ padding:0 9px 0 10px; background:url(../images/arrow.png) bottom right no-repeat;}
.filterpart > div .pack a{ background-position:top right;}
.filterpart > div .extend a:hover{ background-color:#fff; color:#333;}
.filterpart .type,.filterpart .status,.filterpart .trade{ border-bottom:1px solid #eee;}

.body .list{ width:100%; overflow:hidden;}
.body .list li{ padding:10px; margin-bottom:10px; width:978px;}
.body .list li > .img{ width:250px; height:132px;}
.body .list li .local{ margin-left:10px; padding-left:21px; line-height:20px; background:url(../images/location_ico.png) left center no-repeat; color:#666;}
.body .list li .clazz a{ color:#0099ff; margin-left:10px; line-height:20px;}
.body .list li > .right{ width:710px; }
.body .list li > div { margin:0;}
.body .list li > .right > div{ margin-bottom:10px; overflow:hidden;}
.body .list li .course { padding:0; border:none; text-align:right; width:100%; background:url(../images/line.png) left center no-repeat;}
.body .list li .progressbar .gray{ width:650px;}
.body .stock li .money > div {text-align: left; width:100%; color:#666;}
.body .stock li .money > div:last-child { width:100%;}
.body .stock li .money > div span{ margin-right:20px; color:#000;}
.body .list li .desc{ color:#666; line-height:20px;}
.body .list li .cstatus {color: #ff8c19; font-weight: bold;  line-height: 20px;  padding-right: 10px;}
.level .list .preheat .clazz a{ color:#379945;}
.level .list .finished .clazz a{color:#ff8c19;}

/*.body .bondlist .s{ width:82px; height:82px; text-align:center; line-height:82px; font-size:30px; font-weight:bold; font-family:'微软雅黑'; color:#fff;}
.body .bondlist li > .right{ width:888px;}*/
.body .bondlist li .ctext{ color:#666; line-height:25px; margin-left:10px;}
.body .bondlist li .g{ color:#666; padding:0 10px; }
.body .bondlist .binfo .dm { margin-top:10px;}
.body .bondlist .binfo .progressbar .gray{ margin-top:20px;}
.body .bondlist .binfo .progressbar .percent{ margin-top:20px;}
.body .bondlist li .cctext{ color:#666; line-height:25px; margin-bottom:0px!important;}
.body .bondlist li .cctext a{ color:#ff8c19;}

.body .bondlist .blue .s,.body .bondlist .blue .status{ background-color:#0099ff;}
.body .bondlist .blue .byg{ color:#0099ff;}
.body .bondlist .blue .binfo .progressbar .percent{ color:#0099ff;}
.body .bondlist .blue .binfo .progressbar .gray > .left{ background:url(../images/progressbar_b.png) right center no-repeat #0099ff; height:9px;}

.body .bondlist .green .namebar .name a {color:#379945!important;}
.body .bondlist .green .s,.body .bondlist .green .status{ background-color:#379945!important;}
.body .bondlist .green .byg{ color:#379945;}
.body .bondlist .green .binfo .progressbar .percent{color:#379945;}
.body .bondlist .green .binfo .progressbar .gray > .left{ background:url(../images/progressbar_g.png) right center no-repeat #379945; height:9px;}


.body .bondlist .yellow .namebar .name a {color:#ff8c19!important;}
.body .bondlist .yellow .s,.body .bondlist .yellow .status{ background-color:#ff8c19!important;}
.body .bondlist .yellow .byg{ color:#ff8c19;}
.body .bondlist .yellow .binfo .progressbar .percent{color:#ff8c19;}
.body .bondlist .yellow .binfo .progressbar .gray > .left{ background:url(../images/progressbar1.png) right center no-repeat #ff8c19; height:9px;}

.body .transferlist{ line-height:25px; color:#666;}
.body .transferlist li .namebar .name a{ font-size:14px; color:#000; font-weight:bold; margin-right:20px;} 
.body .transferlist .namebar > .right{ padding:5px 8px; cursor:pointer; color:#fff; margin-top:8px; margin-left:10px; line-height:10px;}

.body .transferlist .bb{ background-color:#0099ff;}
.body .transferlist .bg{ background-color:#379945;}
.body .transferlist .by{ background-color:#ff8c19;}
.body .transferlist .bp{ background-color:#8a00ff;}
.body .transferlist .gg{ color:#eee; margin:0 5px;}
.body .transferlist .b{color:#0099ff;}
.body .transferlist .y{color:#ff8c19;}


/* detail */
.body .info{ border:1px solid #eee; overflow:hidden;}
.body .info .list{ margin-top:0px; margin-left:10px; width:710px;} 
.body .info .list li{ border:none; width:100%; margin-bottom:0;}
.body .info .list li > .img { height: 134px; width: 256px;}
.body .info .list li > .right { width:440px;}
.body .info .list li .progressbar .gray{ width:350px;}
.body .info .list li .course {text-align:left; width:100%; background-image:none;}
.body .info .list li {padding: 10px 0 10px;}
.body .info .operate{ width:210px; height:120px; text-align:center; margin:15px 0; border-left:1px solid #eee; padding:0 20px;}
.body .info .operate .remain{font-family:'Microsoft YaHei'; font-size:18px; line-height:40px;}
.body .info .operate .remain span{ font-family:Arial; font-size:36px; color:#ff8c19; font-weight:bold; padding:0 10px;}
.body .info .operate .offer{ font-weight:600; margin-top:13px; line-height:35px; font-size:14px;}
.body .info .operate .offer span{ font-family:Arial; font-size:14px;}
.body .info .operate .offer a{ width:70px; height:35px; text-align:center; line-height:35px; font-size:14px; display:inline-block; background-color:#ff8c19; color:#fff;}

.body .intro{ margin-top:20px;}
.body .intro .about{ width:650px;}
.body .intro .about .tabmenu{ overflow:hidden; margin-top:0;} 
.body .intro .about .tabmenu li{ width:130px; height:40px; cursor:pointer; float:left; border:1px solid #eee; font-size:14px; color:#666; line-height:40px; text-align:center; border-right:none; z-index:999;}
.body .intro .about .tabmenu li:last-child{ border-right:1px solid #eee;}
.body .intro .about .tabmenu .hover{ border-top:3px solid #0099ff; border-bottom:1px solid #fff; height:38px; color:#000; line-height:36px; font-weight:bold;}
.body .intro .about .tabitem{ border:1px solid #eee; margin-top:-1px; min-height:910px; padding-bottom:20px;}
.body .intro .about .plan,.body .intro .about .riskinfo,.body .intro .about .file,.body .intro .about .comments{ display:none;}
.body .intro .about .presentation{ position:relative;}
.body .intro .about .presentation h1{ width:124px; height:43px; color:#fff; font-size:14px; line-height:40px; text-align:center; background:url(../images/hbg.png) center center no-repeat; margin-top:20px;}
.body .intro .about .presentation .text{ margin-top:20px; padding:0 22px; font-size: 16px;}
/*.body .intro .about .presentation .text p{ text-indent:2em; line-height:25px; font-size:14px;}*/
.body .intro .about .presentation .sidemenu{ width:140px; height:390px; background:url(../images/sidemenu_bg.png) 127px center no-repeat; position:absolute; top:-200px; left:-160px;}
.body .intro .about .presentation .sidemenu li{ text-align:right; line-height:30px; padding-right:30px;}
.body .intro .about .presentation .sidemenu li:first-child{ margin-top:30px;}
.body .intro .about .presentation .sidemenu li:hover,.body .intro .about .presentation .sidemenu .hover{ background:url(../images/sidemenu_bg_hover.png) right center no-repeat;}
.body .intro .about .presentation .sidemenu li a{ text-align:right; color:#000;}
.body .intro .about .presentation .sidemenu li a:hover,.body .intro .about .presentation .sidemenu .hover a{ color:#0099ff;}

.body .intro .about .plan{ padding:20px;}
.body .intro .about .plan ul li{border-bottom:1px dashed #eee; padding:10px 0; overflow:hidden;}
.body .intro .about .plan ul li .left{ background:url(../images/triangle.png) left center no-repeat; padding-left:15px; font-size:14px; font-weight:bold;}
.body .intro .about .plan ul li img{ vertical-align:middle;}

.body .intro .about .comments{ padding:20px;}
.body .intro .about .comments .textarea{ width:600px; height:100px;}
.body .intro .about .comments .textarea textarea{ width:100%; height:100%; border:1px solid #eee; resize:none; padding:5px }
.body .intro .about .comments .cbtn{ width:50px; height:27px; background-color:#0099ff; color:#fff; margin-top:10px; cursor:pointer;}
.body .intro .about .comments .filterbar{ margin:10px 0;}
.body .intro .about .comments .filterbar span{ background-color:#aaa; color:#fff; cursor:pointer; padding:5px 10px; margin-right:10px;}
.body .intro .about .comments .filterbar span:hover,.body .intro .about .comments .filterbar .hover{ background-color:#0099ff;}
.body .intro .about .comments > ul{ overflow:hidden; border-top:1px solid #eee;}
.body .intro .about .comments .comment{ padding:20px 0 10px; overflow:hidden; border-bottom:1px solid #eee;}
.body .intro .about .comments .comment > .head img{ width:48px; height:48px; margin-top:5px;}
.body .intro .about .comments .comment > .right{ width:550px; line-height:25px;}
.body .intro .about .comments .comment > .right .nick{ color:#0099ff; width:450px;}
.body .intro .about .comments .comment > .right .nick span{ color:#999;}
.body .intro .about .comments .comment > .right .replylink{ text-align:right;}
.body .intro .about .comments .comment > .right .replylink a{ color:#0099ff;}

.body .intro .about .comments .comment .reply1{ width:530px; padding:10px; position:relative; text-align:right; background-color:#f0f3f4;}
.body .intro .about .comments .comment .reply1 .triangle{ position:absolute; top:-7px; right:20px; background:url(../images/cpop.png) center center no-repeat; width:12px; height:7px;}
.body .intro .about .comments .comment .reply1 > textarea{ width:524px; resize:none; line-height:25px; border:1px solid #eee; height:30px; padding:2px;}
.body .intro .about .comments .comment > ul{ float:right;}
.body .intro .about .comments .comment .reply{ padding:20px 0 10px; width:550px; overflow:hidden; border:none;}
.body .intro .about .comments .comment .reply > .head img{ width:30px; height:30px; margin-top:5px;}
.body .intro .about .comments .comment .reply .nick .text{ color:#000;}
.body .intro .about .comments .comment .reply > .right{ width:510px; line-height:25px;}
.body .intro .about .comments .comment > .reply2{ width:490px!important; padding:10px; position:relative; text-align:right; background-color:#f0f3f4;}
.body .intro .about .comments .comment .reply2 > textarea{ width:484px; resize:none; line-height:25px; border:1px solid #eee; height:30px; padding:2px;}

.body .intro .investinfo{ width:290px; padding:0 20px; border:1px solid #eee; border-top:3px solid #0099ff; }
.body .intro .investinfo h1{ font-size:14px; font-weight:bold; line-height:48px; border-bottom:1px solid #eee;}
.body .intro .investinfo table{ width:100%; border:none;}
.body .intro .investinfo table th{ color:#0099ff; font-size:14px; font-weight:100; height:50px;}
.body .intro .investinfo table .s{ text-align:left; width:65px;}
.body .intro .investinfo table .r{ text-align:center; width:160px;}
.body .intro .investinfo table .q{ text-align:right;}
.body .intro .investinfo table .k{ width: 25%;}
.body .intro .investinfo table td{ border-top:1px dashed #eee; text-align:center; height:65px;}

.body .info .bond li > .s { height: 134px; width: 134px; color:#fff; background-color:#0099ff; text-align:center; line-height:134px; font-family:'微软雅黑'; font-weight:bold; font-size:48px;}
/*.body .info .bond .b > .right { width: 563px;}*/
.body .info .bond .b > .right .cctext{ color:#666;}
/*.body .info .bond  li .money > div{ width:120px;}*/
.body .info .bond  li .local{ background:url(../images/location_ico.png) left center no-repeat; margin-left:0;}
.body .info .bond  li .local .bygc{ margin-left:10px;}
.body .info .bond  li .local .status{ width:56px; height:20px; text-align:center; color:#fff;line-height:20px;}
.body .info .bond  li .local .y{color:#ff8c19;margin-right:10px;}

.body .info .bygb{ background-color:#0099ff!important;}
.body .info .bygc{ color:#0099ff!important;}
.body .info .bond .b > .right .progressbar .gray > div{ background:url(../images/progressbar_b.png) right center no-repeat #0099ff; height:9px;}

.body .intro .about .projectinfo table th,.body .intro .about .projectinfo table td{ height:30px; line-height:30px; color:#333;}
.body .intro .about .projectinfo table td a{ background-color:#e3e3e3; padding:3px 5px; color:#333; border-radius:3px;}
.body .intro .about .projectinfo table .ti{ width:110px; text-align:right; padding-right:10px;}
.body .intro .about .projectinfo table .te{ width:280px; text-align:left;}
.body .intro .about .projectinfo table .ts{ width:160px; text-align:left;}
.body .intro .about .projectinfo .video{ padding: 0 30px;}
.body .intro .about .tabitem .h1{ color:#666;}
.body .intro .about .tabitem h1{ height:60px;font-size:18px; line-height:60px; padding:0 10px;}
.body .intro .about .tabitem h2{ height:45px; color:#666; font-size:18px; line-height:45px; padding:0 10px; border-top:1px dotted #eee;}
.body .intro .about .projectinfo .t1{ margin-top:20px;}
.body .intro .about .projectinfo .t3{ margin:0 auto; border-collapse:collapse;}
.body .intro .about .projectinfo .t3 th,.body .intro .about .projectinfo .t3 td{ width:110px; border-bottom:1px solid #eee; font-size:13px; text-align:right;}
.body .intro .about .projectinfo .t3 tr th:first-child,.body .intro .about .projectinfo .t3 tr td:first-child{ text-align:left; width:50px;}
.body .intro .about .riskinfo .item{ margin-top:15px;}
.body .intro .about .riskinfo p{ margin-top:10px; line-height:22px; padding:0 10px;}
.body .intro .about .file .h,.body .intro .about .file .d { overflow:hidden; margin-left:20px;}
.body .intro .about .file .h li,.body .intro .about .file .d li{ float:left; text-align:left; font-size:14px; color:#00648d;}
.body .intro .about .file .h li img{ width:198px; height:128px; border:1px solid #eee;}
.body .intro .about .file .d li{ margin-bottom:10px;}
.body .intro .about .file .d li img{ width:190px; height:120px; padding:5px; border:1px solid #eee;}

.body .intro .about .plan table{ width:95%; margin:0 auto;}
.body .intro .about .plan table th,.body .intro .about .plan table td{ width:33%; height:30px; line-height:30px; color:#333; border-bottom:1px solid #eee;}
.body .intro .about .plan table .l{ text-align:left;}
.body .intro .about .plan table .c{ text-align:center;}
.body .intro .about .plan table .r{ text-align:right;}

.body .transferbg{ background:url(../images/transfer_btn.png)  right center no-repeat; padding-right:75px;}
.body .minh{ min-height:500px;}
.body .transfer .bygc{ font-weight:bold;}
.body .tipbar{ line-height:30px; padding:5px 10px; margin-top:10px; border:1px solid #eee;}
.body .tipbar .g{ color:#379945; font-size:14px; font-weight:bold;}
.body .tipbar .y{ color:#ff8c19; font-size:14px; font-weight:bold;}
.body .info .transfer li > .right{ width:100%;}
.body .info .transfer li .status{ padding:3px 5px; color:#fff;}
.body .info .transfer li .money{ padding-top:20px; border-top:1px solid #eee;}
.body .info .transfer li .money .left{ width:100px;}
.body .info .transfer li .money .left .y{ color:#ff8c19;}
.body .info .transfer li .money .left .b{ color:#0099ff;}
.body .info .transfer .by{ background-color:#ff8c19;}

.infocontent{ width:1000px; margin:40px auto 0;}
.infocontent .sidemenu{ width:226px; padding:15px; padding-top:5px; border:1px solid #eee; background-color:#fcfcfc;}
.infocontent .sidemenu > li >div{ font-size:14px; font-family:SimSun; font-weight:bold; padding:15px 0; color:#0069a8; background:url(../images/downarrow.png) right center no-repeat;}
.infocontent .sidemenu ul{ border-bottom:1px solid #eee; border-top:1px solid #eee;}

.infocontent .sidemenu ul li{ padding-left:20px; background:url(../images/rightarrow.png) right center no-repeat;}
.infocontent .sidemenu ul li:hover{ background-color:#eee;}
.infocontent .sidemenu ul li .hover{ color:#FFF; background-color:#09F;padding:5px 10px;}
.infocontent .sidemenu ul li a{ line-height:40px; color:#000; display:inline-block; width:100%;}
.infocontent .sidemenu ul li:hover a{ font-weight:bold;}
.infocontent .info{ width:685px; border:1px solid #eee; border-top:3px solid #7fb2cc; padding:10px 20px;}
.infocontent .info .title{ line-height:30px; font-weight:bold; font-size:14px; border-bottom:1px solid #eee;}
.infocontent .info .project{ margin-top:20px; border:1px solid #eee; overflow:hidden;}
.infocontent .info .project > div{ color:#333; padding:0 10px; font-weight:bold; height:40px; line-height:40px;}
.infocontent .info .project table{ width:100%; border-collapse:collapse;}
.infocontent .info .project table th{ background-color:#eee; border-right:1px solid #e0e0e0;}
.infocontent .info .project table th,.infocontent .info .project table td{ line-height:35px; text-align:center;}
.infocontent .info .project .btn{ border:0px; margin-top:6px;}
.infocontent .info .project .btn a{ display:inline-block; width:80px; height:28px; line-height:25px; background:#ff8c19; font-size:14px; color:#fff; text-align:center;}

.loginbar{ width:1000px; margin:40px auto 0;}
.lbanner{ background:url(../images/login_banner.png) center center no-repeat; width:570px; height:547px;}
.loginform{ width:340px; padding:0 44px; margin-top:100px; border:1px solid #eee; border-top:3px solid #7fb2cc;}
.loginform .title{ margin-top:30px; overflow:hidden;}
.loginform .title h3{ font-size:30px; font-weight:normal; vertical-align:bottom;}
.loginform .title span{ font-size:18px; vertical-align:bottom; padding-top:10px;}
.loginform .title span span a{ color:#F00; font-size:18px; vertical-align:bottom;}
.loginform .form {margin-bottom: 30px}
.loginform .form div input{ width:318px; height:40px; padding:0 10px; margin-top:15px; border:1px solid #eee;}
.loginform .form > input{ width:128px; height:40px; border:1px solid #eee; background:#70ca10; color:#fff; font-size:24px; padding-bottom:5px; margin-top:30px;}
.loginform .form div span input{ width:340px; height:42px; border:1px solid #eee; background:#70ca10; color:#fff; font-size:24px; padding-bottom:5px; margin-top:30px;}

.loginform .form > span{ margin-top:30px; margin-left:15px;}
.loginform .form > span a{font-size:14px; color:#333;}
.loginform .form > span input{ margin-right:5px; vertical-align:middle;}
.loginform .third_party{ padding:30px 0; margin-top:30px; border-top:1px solid #eee;}
.loginform .third_party > div{ font-size:14px; color:#999; margin-bottom:20px;}
.loginform .third_party .qq{ margin-left:20px;}

