{% extends "qdinvest/base.html" %}
{% load staticfiles %}
{% block title %}个人中心{% endblock %}
{% block body_block %}

<div class="infocontent">
    <ul class="sidemenu left">
        <li>
            <div>我的资料</div>
            <ul>
                <li><a href="/c/account_list/">账户信息</a></li>
                
            </ul>
        </li>
    
        <li>
            <div>我的项目</div>
            <ul>
                <li><a href="/c/stock_list/">股权项目</a></li>
                <li><a href="/c/bond_list/">债权项目</a></li>
            </ul>
        </li>
        <li>
            <div>我的消息</div>
            <ul>
                <li><a href="/c/news/">我的消息</a></li>
            </ul>
        </li>
    </ul>
    {%for account_list in account%}
    {%if account_list%}

    <div class="info right">
        <div class="title">用户详细信息</div>
        <div class="project">
          <div> <span class="left btn"><a href="javascript:;">用户名：{{account_list.ac_user.u_name}}</a></span></div>
            <table>
                <tr><th>关注项目数</th><th>支持项目数</th><th>未读消息数</th></tr>
                <tr><td>{{account_list.ac_like}}</td><td>{{account_list.ac_support}}</td><td>{{account_list.ac_infos}}</td></tr>
            </table>
           <!--  <div class="right"></div> -->
        </div>
        <div class="project">
            <div><span  class="left btn"><a href="javascript:;">投资信息</a></span></div>
            <table>
                <tr><th>股权投资</th><th>债权投资</th><th>投资总额</th></tr>
                <tr><td>{{account_list.ac_stock_invest}}</td><td>{{account_list.ac_bond_invest}}</td><td>{{account_list.ac_total_invest}}</td></tr>
            </table>
            
        </div>
        <div class="project">
            <div><span  class="left btn"><a href="javascript:;">收益信息</a></span></div>
            <table>
                <tr><th>股权收益</th><th>债权收益</th><th>收益总额</th></tr>
                <tr><td>{{account_list.ac_stock_profit}}</td><td>{{account_list.ac_bond_profit}}</td><td>{{account_list.ac_total_profit}}</td></tr>
            </table>
            
        </div>
   
      <div class="project">
            <div><span  class="left btn"><a href="javascript:;">认购信息</a></span></div>
            <table>
                <tr><th>认购定金</th><th>认购总额</th></tr>
                <tr><td>{{account_list.ac_subscription}}</td><td>{{account_list.ac_total_subscription}}</td></tr>
            </table>
            
        </div>
    </div>
    {% endif %}
    {% endfor %}
  
</div>
<div class="clearfix"></div>
{% endblock %}