<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load staticfiles %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>{% block title %}{% endblock %}</title>
  <link href="{% static 'css/style.css'%}" rel="stylesheet" charset="utf-8" />
</head>

<body>
  <!-- header -->
  <div class="header">
    <div class="wrap">
      <div class="left logo">
        <a href="/">
          <img src="{% static 'images/logo.png'%}" />
        </a>
      </div>
      <div class="right userbar">
        <a href="javascript:;" class="login">登录</a>
        |
        <a href="javascript:;" class="reg">注册</a>
      </div>
      {% load mainTag %} 
      <ul class="right navi">
        {% navtagitem / "首页" "home" %} 
        {% navtagitem /c/stock/ "股权众筹" "project" %}
        {% navtagitem /c/bond/ "债权众筹" "investor" %}
        {% navtagitem /c/transfer/ "众筹转让" "attom" %}
      </ul>
    </div>
  </div>

  {% block body_block %}
  {% endblock %}
  
  <div class="clearfix"></div>

  <!-- footer -->
  <div class="footer">
    <p class="link">
      <a href="javascript:;">常见问题</a>
      |
      <a href="javascript:;">服务条款</a>
      |
      <a href="javascript:;">隐私策略</a>
      |
      <a href="javascript:;">关于我们</a>
    </p>
    <p>
      Copyright &copy; 2014 清大众筹（上海）信息科技有限公司 版权所有 沪ICP备14030823号
    </p>
    <p>
      地址：上海市长宁区武定西路1251弄102号 Email：qinghuainvest@qinghuainvest.com
    </p>
  </div>
  <script type="text/javascript"  src="{% static 'js/jquery-1.7.min.js'%}"></script>
  <script type="text/javascript"  src="{% static 'js/heustudio.jquery.min.js'%}"></script>
  <script src='http://static.polyv.net/file/polyvplayer_v2.0.min.js'></script>
  {% block otherjs %}{% endblock %}
</body>
</html>