<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>众筹方</title>
<link href="style/style.css" rel="stylesheet" charset="utf-8" />
</head>

<body>
<!-- header -->
<div class="header">
  <div class="wrap">
    <div class="left logo"><a href="index.html"><img src="images/logo.png" /></a></div>
    <div class="right userbar"> <a href="javascript:;" class="login">登录</a>|<a href="javascript:;" class="reg">注册</a> </div>
    <ul class="right navi">
      <li><a href="index.html" class="home">首页</a></li>
      <li><a href="stock.html" class="project">股权众筹</a></li>
      <li class="hover"><a href="bond.html" class="investor">债券众筹</a></li>
      <li><a href="transfer.html" class="attom">众筹转让</a></li>
    </ul>
  </div>
</div>

<div class="wrap level body">
  <div class="titlebar">
    <h1 class="left">万记麻辣烫</h1>
    <div class="right location"><span class="hover">首页</span> &gt; <span class="hover">债券众筹</span> &gt; <span>项目详情</span></div>
  </div>
  <div class="level info">
  	<ul class="left list bond">
      <li class="b">
        <div class="left s">中</div>
        <div class="right">
          <div class="local"> <span class="left cctext">北京 • |</span><span class="left bygc">企业经营用途 企业经营流动性资金</span> <span class="right status bygb">融资中</span><span class="right y">拟挂牌企业</span> </div>
          <div class="progressbar">
            <div class="left gray">
              <div class="left"></div>
            </div>
            <div class="right percent bygc">35%</div>
          </div>
          <div class="money">
            <div class="left">
              <p>10%+1%</p>
              <p>年化利率</p>
            </div>
            <div class="left">
              <p>2014年7月14日</p>
              <p>截止日期</p>
            </div>
            <div class="left">
              <p>￥500万</p>
              <p>融资金额</p>
            </div>
            <div class="left">
              <p>￥4,000万</p>
              <p>授信额度</p>
            </div>
          </div>
          <div class="cctext">已经完成投标 571,809.97 元 , 即刻投资收益自 2014-07-13 起算，每万元预期收益 1,106.03 元</div>
        </div>
      </li>
      </ul>
      <div class="right operate">
      	<div class="remain">剩余<span class="bygc">22</span>天</div>
        <div class="offer">已认购：<span>￥36,000</span> <a href="javascript:;" class="bygb">投标</a></div>
      </div>
  </div>
  <div class="intro">
  	<div class="left about">
    	<ul class="tabmenu">
        	<li class="hover" data="projectinfo">项目信息</li><li data="riskinfo">风险信息</li><li data="file">相关文件</li><li data="plan">还款计划</li>
        </ul>
        <div class="tabitem projectinfo">
        	<table class="t1">
            	<tr><td class="ti">融资企业</td><td class="te">****食品有限公司</td><td class="ti">本期融资金额</td><td class="ts">500.00万元</td></tr>
                <tr><td class="ti">融资企业代理人</td><td class="te">zw***56<a href="javascript:;">所有融资项目</a></td><td class="ti">本次授信额度</td><td class="ts">2000.00万元</td></tr>
                <tr><td class="ti">项目区域位置</td><td class="te">河北</td><td class="ti">还款日期</td><td class="ts">2015-7-14</td></tr>
                <tr><td class="ti">年化利率</td><td class="te">10%+1%</td><td class="ti">投标截止日期</td><td class="ts">2014-07-14 160:00:00</td></tr>
                <tr><td class="ti">资金用途</td><td class="te" colspan="3">企业经营用途，企业经营流动性资金</td></tr>
                <tr><td class="ti">借款用途</td><td class="te" colspan="3">公司经营周转</td></tr>
                <tr><td class="ti">还款来源</td><td class="te"  colspan="3">营业收入</td></tr>
            </table>
            <h1 class="h1">企业信息</h1>
            <h2>企业基本信息</h2>
            <table class="t2">
            	<tr><td class="ti">注册年限</td><td class="tt">4年</td></tr>
                <tr><td class="ti">注册资金</td><td class="tt">5081.60万元</td></tr>
                <tr><td class="ti">资产净值</td><td class="tt">9576.21万元</td></tr>
                <tr><td class="ti">年度经营现金流入</td><td class="tt">12407.47</td></tr>
                <tr><td class="ti">行业</td><td class="tt">制造业，农副食品加工业</td></tr>
                <tr><td class="ti">经营情况</td><td class="tt">该公司目前主要以绿色有机蔬菜，精选马铃薯原料生产VF即食果蔬，非膨化食品。</td></tr>
                <tr><td class="ti">涉诉情况</td><td class="tt">未发现融资企业涉诉信息</td></tr>
            </table>
            <h2>财务状况</h2>
            <table class="t3">
            	<tr><th>年份</th><th>主营收入（万）</th><th>毛利润（万）</th><th>净利润（万）</th><th>总资产（万）</th><th>净资产（万）</th></tr>
                <tr><td>2013</td><td>6874.15</td><td>5762.23</td><td>1555.56</td><td>4641.15</td><td>1515.14</td></tr>
                <tr><td>2013</td><td>6874.15</td><td>5762.23</td><td>1555.56</td><td>4641.15</td><td>1515.14</td></tr>
                <tr><td>2013</td><td>6874.15</td><td>5762.23</td><td>1555.56</td><td>4641.15</td><td>1515.14</td></tr>
                <tr><td>2013</td><td>6874.15</td><td>5762.23</td><td>1555.56</td><td>4641.15</td><td>1515.14</td></tr>
                <tr><td>2013</td><td>6874.15</td><td>5762.23</td><td>1555.56</td><td>4641.15</td><td>1515.14</td></tr>
            </table>
        </div>
        <div class="tabitem riskinfo">
        	<h1 class="h1">项目风险保障</h1>
            <div class="item">
            	<h2>360度实地尽调 - 大数据思维保障项目质量</h2>
                <p>专业尽调团队对融资项目进行360度实地尽职考察，专业尽调团队对融资项目进行360度实地尽职考察，专业尽调团队对融资项目进行360度实地尽职考察，专业尽调团队对融资项目进行360度实地尽职考察，专业尽调团队对融资项目进行360度实地尽职考察，专业尽调团队对融资项目进行360度实地尽职考察</p>
                <p>专业尽调团队对融资项目进行360度实地尽职考察，专业尽调团队对融资项目进行360度实地尽职考察</p>
            </div>
            <div class="item">
            	<h2>360度实地尽调 - 大数据思维保障项目质量</h2>
                <p>专业尽调团队对融资项目进行360度实地尽职考察，专业尽调团队对融资项目进行360度实地尽职考察，专业尽调团队对融资项目进行360度实地尽职考察，专业尽调团队对融资项目进行360度实地尽职考察，专业尽调团队对融资项目进行360度实地尽职考察，专业尽调团队对融资项目进行360度实地尽职考察</p>
                <p>专业尽调团队对融资项目进行360度实地尽职考察，专业尽调团队对融资项目进行360度实地尽职考察</p>
            </div>
            <div class="item">
            	<h2>360度实地尽调 - 大数据思维保障项目质量</h2>
                <p>专业尽调团队对融资项目进行360度实地尽职考察，专业尽调团队对融资项目进行360度实地尽职考察，专业尽调团队对融资项目进行360度实地尽职考察，专业尽调团队对融资项目进行360度实地尽职考察，专业尽调团队对融资项目进行360度实地尽职考察，专业尽调团队对融资项目进行360度实地尽职考察</p>
                <p>专业尽调团队对融资项目进行360度实地尽职考察，专业尽调团队对融资项目进行360度实地尽职考察</p>
            </div>
            <div class="item">
            	<h2>360度实地尽调 - 大数据思维保障项目质量</h2>
                <p>专业尽调团队对融资项目进行360度实地尽职考察，专业尽调团队对融资项目进行360度实地尽职考察，专业尽调团队对融资项目进行360度实地尽职考察，专业尽调团队对融资项目进行360度实地尽职考察，专业尽调团队对融资项目进行360度实地尽职考察，专业尽调团队对融资项目进行360度实地尽职考察</p>
                <p>专业尽调团队对融资项目进行360度实地尽职考察，专业尽调团队对融资项目进行360度实地尽职考察</p>
            </div>
        </div>
        <div class="tabitem file">
        	<h1 class="h1">相关资料</h1>
            <h2>合同协议</h2>
            <ul class="h">
            	<li><img src="images/e3.png" /><br />担保函1.jpg</li>
                <li><img src="images/e3.png" /><br />担保函1.jpg</li>
                <li><img src="images/e3.png" /><br />担保函1.jpg</li>
            </ul>
            <h2>企业实地照片</h2>
            <ul class="d">
            	<li><img src="images/e4.png" /><br />担保函1.jpg</li>
                <li><img src="images/e4.png" /><br />担保函1.jpg</li>
                <li><img src="images/e4.png" /><br />担保函1.jpg</li>
                <li><img src="images/e4.png" /><br />担保函1.jpg</li>
                <li><img src="images/e4.png" /><br />担保函1.jpg</li>
                <li><img src="images/e4.png" /><br />担保函1.jpg</li>
            </ul>
        </div>
        <div class="tabitem plan">
        	<table>
            	<tr><th class="l">预期还款时间</th><th class="c">类型</th><th class="r">还款金额</th></tr>
                <tr><td class="l">2015-7-15</td><td class="c">利息</td><td class="r">1,515.00</td></tr>
                <tr><td class="l">2015-7-15</td><td class="c">利息</td><td class="r">1,515.00</td></tr>
                <tr><td class="l">2015-7-15</td><td class="c">利息</td><td class="r">1,515.00</td></tr>
                <tr><td class="l">2015-7-15</td><td class="c">利息</td><td class="r">1,515.00</td></tr>
                <tr><td class="l">2015-7-15</td><td class="c">利息</td><td class="r">1,515.00</td></tr>
                <tr><td class="l">2015-7-15</td><td class="c">利息</td><td class="r">1,515.00</td></tr>
                <tr><td class="l">2015-7-15</td><td class="c">利息</td><td class="r">1,515.00</td></tr>
                <tr><td class="l">2015-7-15</td><td class="c">利息</td><td class="r">1,515.00</td></tr>
                <tr><td class="l">2015-7-15</td><td class="c">利息</td><td class="r">1,515.00</td></tr>
                <tr><td class="l">2015-7-15</td><td class="c">利息</td><td class="r">1,515.00</td></tr>
            </table>
        </div>
    </div>
    <div class="right investinfo">
		<h1>投标情况</h1>
        <table>
        	<tr><th class="s">时 间</th><th class="r">投资人</th><th class="q">投资金额</th></tr>
            <tr><td>2014-07-12 01:18:34</td><td>LC****05</td><td>7,126.56</td></tr>
            <tr><td>2014-07-12 01:18:34</td><td>LC****05</td><td>7,126.56</td></tr>
            <tr><td>2014-07-12 01:18:34</td><td>LC****05</td><td>7,126.56</td></tr>
            <tr><td>2014-07-12 01:18:34</td><td>LC****05</td><td>7,126.56</td></tr>
            <tr><td>2014-07-12 01:18:34</td><td>LC****05</td><td>7,126.56</td></tr>
            <tr><td>2014-07-12 01:18:34</td><td>LC****05</td><td>7,126.56</td></tr>
            <tr><td>2014-07-12 01:18:34</td><td>LC****05</td><td>7,126.56</td></tr>
            <tr><td>2014-07-12 01:18:34</td><td>LC****05</td><td>7,126.56</td></tr>
            <tr><td>2014-07-12 01:18:34</td><td>LC****05</td><td>7,126.56</td></tr>
            <tr><td>2014-07-12 01:18:34</td><td>LC****05</td><td>7,126.56</td></tr>
            <tr><td>2014-07-12 01:18:34</td><td>LC****05</td><td>7,126.56</td></tr>
            <tr><td>2014-07-12 01:18:34</td><td>LC****05</td><td>7,126.56</td></tr>
            <tr><td>2014-07-12 01:18:34</td><td>LC****05</td><td>7,126.56</td></tr>
        </table>
    </div>
  </div>
</div>
<div class="clearfix"></div>
<!-- footer -->
<div class="footer">
    <p class="link"><a href="javascript:;">常见问题</a>  |  <a href="javascript:;">服务条款</a>  |  <a href="javascript:;">隐私策略</a>  |  <a href="javascript:;">关于我们</a></p>
    <p>Copyright &copy; 2014 清大益讯（北京）投资管理有限公司 All Rights Reserved.  京ICP备05000922 号</p>
    <p>地址：北京市海淀区中关村东路1号院清华大学科技园创业大厦1001室-1002室 Email：qinghuainvest@qinghuainvest.com</p>
</div>
<script type="text/javascript"  src="script/jquery-1.7.min.js"></script> 
<script type="text/javascript"  src="script/heustudio.jquery.min.js"></script>
</body>
</html>
