{% extends "qdinvest/base.html" %}
{% load staticfiles %}
{% load extra_tags %}
{% block title %}债权众筹详情{% endblock %}
{% block body_block %}
<div class="wrap level body">
  <div class="titlebar">
    <h1 class="left">{{bond.bo_title}}</h1>
    <div class="right location">
      <span class="hover">首页</span>
      &gt;
      <span class="hover">债券众筹</span>
      &gt;
      <span>项目详情</span>
    </div>
  </div>
  <div class="level info">
    <ul class="left list bond">
      <li class="b">
        <div class="left img">
          <a href="javascript:;">
            <img src="/media/{{bond.bo_image}}" width="256px" height="135px" />
          </a>
        </div>
        <div class="right">
          <div class="local">
            <span class="left cctext">{{bond.bo_province}}• |</span>
            <span class="left bygc">{{bond.bo_brief}}</span>
            <span class="right status bygb">{{bond.bo_pro_type}}</span>
            <span class="right y">{{bond.bo_com_type}}</span>
          </div>
          <div class="progressbar">
            <div class="left gray">
              <div class="left"></div>
            </div>
            <div class="right percent bygc">
              {% widthratio bond.bo_current_price bond.bo_total_price 100%}%
            </div>
          </div>
          <div class="money">
            <div class="left">
              <p>{{bond.bo_scale}}%</p>
              <p>年化利率</p>
            </div>
            <div class="left">
              <p>{{bond.bo_end_time.date}}</p>
              <p>截止日期</p>
            </div>
            <div class="left">
              <p>￥{{bond.bo_total_price}}</p>
              <p>融资金额</p>
            </div>
            <div class="left">
              <p>￥{{bond.bo_min_price}}</p>
              <p>认购起点</p>
            </div>
          </div>
          <div class="cctext">
            已经完成投标 571,809.97 元 , 即刻投资收益自 2014-07-13 起算，每万元预期收益 1,106.03 元
          </div>
        </div>
      </li>
    </ul>
    <div class="right operate">
      <div class="remain">
        剩余
        <span class="bygc">{{bond.bo_end_time|lastDays}}</span>
        天
      </div>
      <div class="offer">
        已认购：
        <span>
          ￥{{bond.bo_current_price}}
          <a href="javascript:;" class="bygb">投标</a>
        </span>
      </div>
    </div>
  </div>

  <div class="intro">
    <div class="left about">

      <ul class="tabmenu">
        <li class="hover" data="projectinfo">项目信息</li>
        <li data="riskinfo">风险信息</li>
        <li data="file">相关文件</li>
        <li data="plan">还款计划</li>
      </ul>

      <div class="tabitem projectinfo">
        <table class="t1">
          <tr>
            <td class="ti">融资企业</td>
            <td class="te">{{bond.bo_com_name}}</td>
            <td class="ti">本期融资金额</td>
            <td class="ts">{{bond.bo_total_price}}</td>
          </tr>
          <tr>
            <td class="ti">融资企业代理人</td>
            <td class="te">
              {{bond.bo_user}}
              <!--a href="javascript:;">所有融资项目</a-->
            </td>
            <td class="ti">本次授信额度</td>
            <td class="ts">2000.00万元</td>
          </tr>
          <tr>
            <td class="ti">项目区域位置</td>
            <td class="te">{{bond.bo_province}}</td>
            <td class="ti">还款日期</td>
            <td class="ts">{{bond.bo_end_time.date}}</td>
          </tr>
          <tr>
            <td class="ti">年化利率</td>
            <td class="te">{{bond.bo_scale}}</td>
            <td class="ti">投标截止日期</td>
            <td class="ts">{{bond.bo_begin_time.date}}</td>
          </tr>
          <tr>
            <td class="ti">资金用途</td>
            <td class="te" colspan="3">{{bond.bo_brief}}</td>
          </tr>
          <tr>
            <td class="ti">借款用途</td>
            <td class="te" colspan="3">{% autoescape off %}{{bond.bo_goal}} {% endautoescape %}</td>
          </tr>
          <tr>
            <td class="ti">还款来源</td>
            <td class="te"  colspan="3">{% autoescape off %}{{bond.bo_com_inf}} {% endautoescape %}</td>
          </tr>
        </table>
        {% if bond.bo_video %}
        <h2>宣传视频</h2>
        <div id='plv_video' data='{{bond.bo_video}}' class="video"></div>
        {% endif %}
        <div class="transferlist">
          <h2>企业基本信息</h2>
          {% autoescape off %} 
          {{bond.bo_com_inf}}
          {% endautoescape %}
        </div>
        <div class="transferlist">
          <h2>财务状况</h2>
          {% autoescape off %} 
            {{bond.bo_finance}}
          {% endautoescape %}
        </div>
      </div>
      <div class="tabitem riskinfo">
        <div class="transferlist">
          <h1 class='h1'>项目风险保障</h1>
          {% autoescape off %} 
          {{bond.bo_risk_inf}}
        {% endautoescape %}
        </div>
      </div>
      <div class="tabitem file">
        <div class="transferlist">
          <h1 class="h1">相关资料</h1>
          <!-- <h2>合同协议</h2>
        <ul class="h">
          <li>
            <img src="{% static 'images/e3.png'%}" />
            <br />
            担保函1.jpg
          </li>
          <li>
            <img src="{% static 'images/e3.png'%}" />
            <br />
            担保函1.jpg
          </li>
          <li>
            <img src="{% static 'images/e3.png'%}" />
            <br />
            担保函1.jpg
          </li>
        </ul>
        <h2>企业实地照片</h2>
        <ul class="d">
          <li>
            <img src="{% static 'images/e4.png'%}" />
            <br />
            担保函1.jpg
          </li>
          <li>
            <img src="{% static 'images/e4.png'%}" />
            <br />
            担保函1.jpg
          </li>
          <li>
            <img src="{% static 'images/e4.png'%}" />
            <br />
            担保函1.jpg
          </li>
          <li>
            <img src="{% static 'images/e4.png'%}" />
            <br />
            担保函1.jpg
          </li>
          <li>
            <img src="{% static 'images/e4.png'%}" />
            <br />
            担保函1.jpg
          </li>
          <li>
            <img src="{% static 'images/e4.png'%}" />
            <br />
            担保函1.jpg
          </li>
        </ul-->
        {% autoescape off %} 
        {{bond.bo_files}}
        {% endautoescape %}
      </div>
    </div>
    <div class="tabitem plan">
      <!--table>
      <tr>
        <th class="l">预期还款时间</th>
        <th class="c">类型</th>
        <th class="r">还款金额</th>
      </tr>
      <tr>
        <td class="l">2015-7-15</td>
        <td class="c">利息</td>
        <td class="r">1,515.00</td>
      </tr>
      <tr>
        <td class="l">2015-7-15</td>
        <td class="c">利息</td>
        <td class="r">1,515.00</td>
      </tr>
      <tr>
        <td class="l">2015-7-15</td>
        <td class="c">利息</td>
        <td class="r">1,515.00</td>
      </tr>
      <tr>
        <td class="l">2015-7-15</td>
        <td class="c">利息</td>
        <td class="r">1,515.00</td>
      </tr>
      <tr>
        <td class="l">2015-7-15</td>
        <td class="c">利息</td>
        <td class="r">1,515.00</td>
      </tr>
      <tr>
        <td class="l">2015-7-15</td>
        <td class="c">利息</td>
        <td class="r">1,515.00</td>
      </tr>
      <tr>
        <td class="l">2015-7-15</td>
        <td class="c">利息</td>
        <td class="r">1,515.00</td>
      </tr>
      <tr>
        <td class="l">2015-7-15</td>
        <td class="c">利息</td>
        <td class="r">1,515.00</td>
      </tr>
      <tr>
        <td class="l">2015-7-15</td>
        <td class="c">利息</td>
        <td class="r">1,515.00</td>
      </tr>
      <tr>
        <td class="l">2015-7-15</td>
        <td class="c">利息</td>
        <td class="r">1,515.00</td>
      </tr>
    </table-->
    <h1 class="h1">还款计划</h1>
    <div class="transferlist">
      {% autoescape off %}
        {{bond.bo_repay_plan}}
        {% endautoescape %}
    </div>
  </div>
</div>

<div class="right investinfo">
  <h1>投标情况</h1>

  <table>
    <tr>
      <th class="s">时 间</th>
      <th class="r">投资人</th>
      <th class="q">投资金额</th>
    </tr>
    {%if invest_bonds%}
        {%for invest_bond in invest_bonds%}
    <tr>
      <td>{{invest_bond.ib_date.date}}</td>
      <td>{{invest_bond.ib_user}}</td>
      <td>{{invest_bond.ib_amount|floatformat:2}}</td>
    </tr>
    {% endfor %}
        {% endif %}
    <!--tr>
    <td>2014-07-12 01:18:34</td>
    <td>LC****05</td>
    <td>7,126.56</td>
  </tr>
  <tr>
    <td>2014-07-12 01:18:34</td>
    <td>LC****05</td>
    <td>7,126.56</td>
  </tr>
  <tr>
    <td>2014-07-12 01:18:34</td>
    <td>LC****05</td>
    <td>7,126.56</td>
  </tr>
  <tr>
    <td>2014-07-12 01:18:34</td>
    <td>LC****05</td>
    <td>7,126.56</td>
  </tr>
  <tr>
    <td>2014-07-12 01:18:34</td>
    <td>LC****05</td>
    <td>7,126.56</td>
  </tr>
  <tr>
    <td>2014-07-12 01:18:34</td>
    <td>LC****05</td>
    <td>7,126.56</td>
  </tr>
  <tr>
    <td>2014-07-12 01:18:34</td>
    <td>LC****05</td>
    <td>7,126.56</td>
  </tr>
  <tr>
    <td>2014-07-12 01:18:34</td>
    <td>LC****05</td>
    <td>7,126.56</td>
  </tr>
  <tr>
    <td>2014-07-12 01:18:34</td>
    <td>LC****05</td>
    <td>7,126.56</td>
  </tr>
  <tr>
    <td>2014-07-12 01:18:34</td>
    <td>LC****05</td>
    <td>7,126.56</td>
  </tr>
  <tr>
    <td>2014-07-12 01:18:34</td>
    <td>LC****05</td>
    <td>7,126.56</td>
  </tr>
  <tr>
    <td>2014-07-12 01:18:34</td>
    <td>LC****05</td>
    <td>7,126.56</td>
  </tr-->
</table>
</div>
</div>

</div>
</div>
<div class="clearfix"></div>
<!-- footer -->
{% endblock %}