{% extends "qdinvest/base.html" %}
{% load staticfiles %}
{% block title %}个人中心{% endblock %}
{% block body_block %}

<div class="infocontent">
    <ul class="sidemenu left">
        <li>
            <div>我的资料</div>
            <ul>
                <li><a href="/c/account_list/">账户信息</a></li>
                
            </ul>
        </li>
    
        <li>
            <div>我的项目</div>
            <ul>
                <li><a href="/c/stock_list/">股权项目</a></li>
                <li><a href="javascript:;">债权项目</a></li>
            </ul>
        </li>
        <li>
            <div>我的消息</div>
            <ul>
                <li><a href="/c/news/">我的消息</a></li>
            </ul>
        </li>
    </ul>


    <div class="info right">
        <div class="title">用户债权详细信息</div>
        <div class="project">           
             <table>
                <tr><th>标题</th><th>所属行业</th><th>公司类型</th><th>项目属性</th><th>投资时间</th><th>预计收入</th><th>预计收入日期</th><th>审核状态</th><th>投资金额</th></tr>
                  {%for invest_bond in invest_bonds %}                 
                  {%if invest_bond %}
                  {%for bond in bonds%}                                 
                  {%ifequal  invest_bond.ib_bond.id  bond.id %}
                  

                <tr><td>{{bond.bo_title}}</td><td>{{bond.bo_industry}}</td><td>{{bond.bo_com_type}}</td><td>{{bond.bo_pro_type}}</td><td>{{invest_bond.ib_date.date}}</td><td>{{invest_bond.ib_soon_profit|floatformat:2}}</td><td>{{invest_bond.ib_profit_date}}</td><td>{{invest_bond.ib_status}}</td><td>{{invest_bond.ib_amount|floatformat:2}}</td></tr>
                {% endifequal %}
                {% endfor %}
                {% endif %}
                {% endfor %}   
                
            </table>   
            <div class="right">投资总额：{{invest_price|floatformat:2}}万元</div>       
           
        </div>


    </div>
    
  
</div>
<div class="clearfix"></div>
{% endblock %}