{% extends "qdinvest/base.html" %}
{% load staticfiles %}
{% load extra_tags %}
{% load pagination_tags %}
{% block title %}债权众筹{% endblock %}
{% block body_block %}
<div class="wrap level body">
  <div class="titlebar">
    <div class="left location">
      当前位置：
      <span class="hover">首页</span>
      &gt;
      <span class="hover">债权众筹</span>
      &gt;
      <span>列表</span>
    </div>
  </div>
  <div class="filterpart">
    <div class="type">
      <span>企业类型：</span>
      {%ifequal ct 'all'%}
      <span class="hover">
      {%else%}
        <span>
      {% endifequal %}
        <a href="/c/bond/?ct=all">全部</a>
      </span>
      {%for com_type in com_types%}
      {%ifequal ct com_type.id%}
      <span  class='hover'>
        <a href="/c/bond/?ct={{com_type.id}}">{{com_type.ct_name}}</a>
      </span>
      {%else%}
      <span>
        <a href="/c/bond/?ct={{com_type.id}}">{{com_type.ct_name}}</a>
      </span>
      {% endifequal %}
      {% endfor %}
     
    </div>
    <div class="status">
      <span>项目期限：</span>
     {%ifequal st 'all' %}
      <span class="hover">
      {%else%}
      <span>
      {% endifequal %} 
        <a href="/c/bond/?st=all">全部</a>
      </span>
      {% ifequal st 1%}
      <span class="hover">
      {%else%}
      <span>
      {% endifequal %}
      <a href="/c/bond/?st=1">3个月以下</a>
      </span>
      {% ifequal st 2%}
      <span class="hover">
      {% else %}
      <span>
      {% endifequal %}
      <a href="/c/bond/?st=2">3-6 个月</a>
      </span>
      {% ifequal st 3%}
      <span class="hover">
      {%else%}
      <span>
      {% endifequal %} 
      <a href="/c/bond/?st=3">6-9 个月</a>
      </span>
      {% ifequal st 4%}
      <span class="hover">
      {%else%}
      <span>
      {% endifequal %}
      <a href="/c/bond/?st=4">9-12 个月</a>
      </span>
     {% ifequal st 5 %}
      <span class="hover">
      {%else%}
      <span>
      {% endifequal %}
        <a href="/c/bond/?st=5">12 个月以上</a>
      </span>
    </div>


    <div class="trade">
      <span>年转化率：</span>
      {% ifequal tr 'all' %}
      <span class="hover">
      {%else%}
      <span>
      {% endifequal %}
        <a href="/c/bond/?tr=all">全部</a>
      </span>
     {%ifequal tr 1%}
      <span class="hover">
      {%else%}
      <span>
      {% endifequal %}
        <a href="/c/bond/?tr=1">10%以下</a>
      </span>
      {%ifequal tr 2%}
      <span class="hover">
      {%else%}
      <span>
      {% endifequal %}
        <a href="/c/bond/?tr=2">10%-15%</a>
      </span>
       {%ifequal tr 3%}
      <span class="hover">
      {%else%}
      <span>
      {% endifequal %}
        <a href="/c/bond/?tr=3">15%-20%</a>
      </span>      
      {%ifequal tr 4%}
      <span class="hover">
      {%else%}
      <span>
      {% endifequal %}
        <a href="/c/bond/?tr=4">20%以上</a>
      </span>
    </div>
    <div class="area">
      <span>项目状态：</span>
      {%ifequal pt 'all'%}
      <span class="hover">
      {%else%}
      <span>
      {%endifequal %}
        <a href="/c/bond/?pt=all">全部</a>
      </span>
      {%for pro_type in pro_types%}
      {%ifequal pt pro_type.id%}
      <span class='hover'>
        <a href="/c/bond/?pt={{pro_type.id}}">{{pro_type.pt_name}}</a>
      </span>
      {%else%}
      <span>
        <a href="/c/bond/?pt={{pro_type.id}}">{{pro_type.pt_name}}</a>
      </span>
      {%endifequal%}
      {% endfor %}
 
    </div>
  </div>

  
  <ul class="underway list bondlist">
    {% autopaginate bonds 10 %} 
    {%for bond in  bonds%} 
    {%if bond.bo_pro_type.id == 1%}
     <li class="yellow">
      <div class="left img">
        <a href="/c/bond/bdetail/{{bond.id}}">
          <img src="/media/{{bond.bo_image}}" width="250px" height="132px" />
        </a>
      </div>
      <!--div class="left s">完</div-->
      <div class="right">
        <div class="namebar">
          <span class="left name">
            <a href="/c/bond/bdetail/{{bond.id}}">{{bond.bo_title }}</a>
          </span>
          <span class="left ctext">股份代码：{{bond.bo_code}} |  资金用途：{{bond.bo_brief}}</span>
          <span class="right status">{{bond.bo_pro_type}}</span>
          <span class="right cstatus">{{bond.bo_com_type}}</span>
        </div>
        <div class="binfo">          
          <div class="left dm">
            年转化率
            <span class="byg">{{bond.bo_scale}}%</span>
            <span class="g">/</span>
            截止日期
            <span class="byg">{{bond.bo_end_time.date}}</span>
            <span class="g">/</span>
            融资金额
            <span class="byg">{{bond.bo_total_price|toTenThous}}万</span>
            <span class="g">/</span>
            认购起点
            <span class="byg">{{bond.bo_min_price|toTenThous}}万</span>
          </div>
          
          <div class="left progressbar">
            <div class="left gray">
              <div class="left"></div>
            </div>
            <div class="right percent">{% widthratio bond.bo_current_price bond.bo_total_price 100%}%</div>
          </div>
        </div>
        <div class="cctext">        
          <a href="/c/bond/bdetail/{{bond.id}}">更多&gt;&gt;</a>
        </div>
      </div>
    </li>

    {% elif bond.bo_pro_type.id == 7%}
    <li class="green">
      <div class="left img">
        <a href="/c/bond/bdetail/{{bond.id}}">
          <img src="/media/{{bond.bo_image}}" width="250px" height="132px" />
        </a>
      </div>
      <div class="right">
        <div class="namebar">
          <span class="left name">            
            <a href="/c/bond/bdetail/{{bond.id}}">{{bond.bo_title }}</a>
          </span>
          <span class="left ctext">股份代码：{{bond.bo_code}} |  资金用途：{{bond.bo_brief}}</span>
          <span class="right status">{{bond.bo_pro_type}}</span>
          <span class="right cstatus">{{bond.bo_com_type}}</span>
        </div>
        <div class="binfo">
          <div class="left dm">
            年化利率
            <span class="byg">{{bond.bo_scale}}%</span>
            <span class="g">/</span>
            截止日期
            <span class="byg">{{bond.bo_end_time.date}}</span>
            <span class="g">/</span>
            融资金额
            <span class="byg">{{bond.bo_total_price|toTenThous}}万</span>
            <span class="g">/</span>
            认购起点
            <span class="byg">{{bond.bo_min_price|toTenThous}}万</span>
          </div>
          <div class="left progressbar">
            <div class="left gray">
              <div class="left"></div>
            </div>
            <div class="right percent">{% widthratio bond.bo_current_price bond.bo_total_price 100%}%</div>
          </div>
        </div>
        <div class="cctext">      
          <a href="/c/bond/bdetail/{{bond.id}}">更多&gt;&gt;</a>
        </div>
      </div>
    </li>
      {% elif bond.bo_pro_type.id == 4%}
    <li class="blue">      
      <div class="left img">
        <a href="/c/bond/bdetail/{{bond.id}}">
          <img src="/media/{{bond.bo_image}}" width="250px" height="132px" />
        </a>
      </div>
      <div class="right">
        <div class="namebar">
          <span class="left name">          
            <a href="/c/bond/bdetail/{{bond.id}}">{{bond.bo_title }}</a>
          </span>
          <span class="left ctext">股份代码：{{bond.bo_code}} |  资金用途：{{bond.bo_brief}}</span>
          <span class="right status">{{bond.bo_pro_type}}</span>
          <span class="right cstatus">{{bond.bo_com_type}}</span>
        </div>
        <div class="binfo">
          <div class="left dm">
            年化利率
            <span class="byg">{{bond.bo_scale}}%</span>
            <span class="g">/</span>
            截止日期
            <span class="byg">{{bond.bo_end_time.date}}</span>
            <span class="g">/</span>
            融资金额
            <span class="byg">{{bond.bo_total_price|toTenThous}}万</span>
            <span class="g">/</span>
            认购起点
            <span class="byg">{{bond.bo_min_price|toTenThous}}万</span>
          </div>
          <div class="left progressbar">
            <div class="left gray">
              <div class="left"></div>
            </div>
            <div class="right percent">{% widthratio bond.bo_current_price bond.bo_total_price 100%}%</div>
          </div>
        </div>
        <div class="cctext">         
          <a href="/c/bond/bdetail/{{bond.id}}">更多&gt;&gt;</a>
        </div>
      </div>
    </li>
    {% endif %}
    {% endfor %}

  </ul>
  <ul class="left page_navi">
    {% paginate %}

  </ul>
 <div class="right page_num">
    第
    <span>{{pageid}}</span>
    页 共
    <span>{{page_num}}</span>
    页
  </div>
</div>
<div class="clearfix"></div>

{% endblock %}