{% extends "qdinvest/base.html" %}
{% load staticfiles %}
{% block title %}个人中心{% endblock %}
{% block body_block %}

<div class="infocontent">
    <ul class="sidemenu left">
        <li>
            <div>我的资料</div>
            <ul>
                <li><a href="/c/account_list/">账户信息</a></li>
                
            </ul>
        </li>
    
        <li>
            <div>我的项目</div>
            <ul>
                <li><a href="/c/stock_list/">股权项目</a></li>
                <li><a href="javascript:;">债权项目</a></li>
            </ul>
        </li>
        <li>
            <div>我的消息</div>
            <ul>
                <li><a href="/c/news/">我的消息</a></li>
            </ul>
        </li>
    </ul>


    <div class="info right">
        <div class="title">用户债权详细信息</div>
        <div class="project">
            {%if username%}
          <div> <span class="left btn"><a href="javascript:;">用户名:{{username}}</a></span></div>
          {% endif %}
            
            <table>
                <tr><th>标题</th><th>经营用途</th><th>所属行业</th><th>所属地区</th><th>开始时间</th><th>结束时间</th><th>创建时间</th></tr>
                {%for bond_list in bond%}
                {%if bond_list %}
                <tr><td>{{bond_list.bo_title}}</td><td>{{bond_list.bo_brief}}</td><td>{{bond_list.bo_industry}}</td><td>{{bond_list.bo_province}}</td><td>{{bond_list.bo_begin_time.date}}</td><td>{{bond_list.bo_end_time.date}}</td><td>{{bond_list.bo_create_time.date}}</td></tr>
                {% endif %}
              {% endfor %}
               <tr><th>标题</th><th>项目属性</th><th>公司类型</th><th>年转化率</th><th>认购起点</th><th>投资总额</th><th>当前已经认购</th></tr>
              {%for bond_list in bond%}
                {%if bond_list%}
                <tr><td>{{bond_list.bo_title}}</td><td>{{bond_list.bo_pro_type}}</td><td>{{bond_list.bo_com_type}}</td><td>{{bond_list.bo_scale}}</td><td>{{bond_list.bo_min_price}}</td><td>{{bond_list.bo_total_price}}</td><td>{{bond_list.bo_current_price}}</td></tr>
                {% endif %}
              {% endfor %}
            
              <tr><th>标题</th><th>关注数</th><th>点击数</th><th>认购次数</th><th>排序</th><th>状态</th><th>是否推荐</th></tr>
              {%for bond_list in bond%}
                {%if bond_list%}
                <tr><td>{{bond_list.bo_title}}</td><td>{{bond_list.bo_like_count}}</td><td>{{bond_list.bo_view_count}}</td><td>{{bond_list.bo_invest_count}}</td><td>{{bond_list.bo_sort}}</td><td>{{bond_list.bo_status}}</td><td>{{bond_list.bo_is_commend}}</td></tr>
                {% endif %}
              {% endfor %}
            </table>
           
        </div>


    </div>
    
  
</div>
<div class="clearfix"></div>
{% endblock %}