{% extends "qdinvest/base.html" %}
{% load staticfiles %}
{% block title %}找回密码{% endblock %}
{% block body_block %}
<!-- loginbar -->
<div class="loginbar">
  <div class="lbanner left"></div>
  <div class="loginform right">
    <div class="title">
      <h3 class="left">找回密码</h3>
        <span class="right">
          <a href="/c/login/">点此登陆</a>
           </span>    
    </div>

    <form id= 'client_form'  method="post" class="form">
      <div>       
        <input  id="username1" type="text" placeholder="用户名：6至15位数字或字母" name="u_name" />
          <span  id="u_name1" class='red'></span>     
      </div>
    
       <div>
        <input id='telephone1' type="text" placeholder="手机号：必填"  name="u_tel" />  
        
        <span id='u_tel1' class='red'></span>

      </div>
      <div>
        <span>
          <input id='button' type='button'  value='免费获取短信验证码'/>
        </span>       
      </div>
      <div>
      <input id='tcod' type='text' placeholder='验证码' name='rc_code'/>    
     <span id='tcod1' class='red'></span> 
        
      </div> 
       <div>     
     <input   id ='password' type="password"  placeholder="请输入新密码：6至15位，必须包含数字和字母"  name='u_pwd'/> 
        <span id='u_pwd' class='red'></span>
        {%if  error%}
        {{error}}
        {% endif %}
      </div> 


      <div>     
     <input   id ='passwordtest' type="password"  placeholder="确认密码：6至15位，必须包含数字和字母"  name='u_pwdtest'/> 
        <span id='u_pwdtest' class='red'></span>        
      </div>


      <div>
        <span>
          <input id='alter' type="submit" value="修改" />     
        </span>
      </div>   
    </form>
   
  </div>
</div>
<div class="clearfix"></div>
{% endblock %}