{% extends "qdinvest/base.html" %}
{% load staticfiles %}
{% load extra_tags %}
{% block title %}清大众筹{% endblock %}
{% block body_block %}
<!-- banner -->
<div class="bannerbar">
  <div class="banner">
    <div class="wrap">
      <div class="item" style="display:block;">
        <img src="{% static 'images/banner.png'%}" />
      </div>
      <div class="item">
        <img src="{% static 'images/banner2.png'%}" />
      </div>
      <div class="item">
        <img src="{% static 'images/banner3.png'%}" />
      </div>
      <div class="temp"></div>
      <ul class="switch">
        <li data="0" class="hover"></li>
        <li data="1"></li>
        <li data="2"></li>
      </ul>
    </div>
  </div>
</div>

<div class="wrap">
  <ul class="tabmenu">
    <li data="stock" class="hover">
      <a href="javascript:;">股权众筹</a>
    </li>
    <li data="bond">
      <a href="javascript:;">债权众筹</a>
    </li>

  </ul>
  <div class="tabitem stock">

    <div class="wrap level">
      <div class="title">
        <span class="left">融资中项目</span>
        <span class="right">
          <a href="javascript:;">更多&gt;</a>
        </span>
      </div>
      <ul class="list">
        {% for stock in stocks%}            
            <li>
            <div class="img">
            <a href="/c/stock/sdetail/{{stock.id}}">
              <img src="/media/{{stock.st_image}}" width="314px" height="162px" />
            </a>
            <div class="tip">
              <p class="intro">{{stock.st_brief}}</p>
              <p class="remain">剩余时间：{{stock.st_end_time|lastDays}} 天</p>
            </div>
            </div>
          <div class="namebar">
            <span class="left name">
              <a href="c/sdetail/{{stock.id}}">{{stock.st_title}}</a>
            </span>
            <span class="right status">{{stock.st_pro_type.pt_name}}</span>
          </div>
          <div class="progressbar">
            <div class="left gray">
              <div class="left yellow"></div>
            </div>
            <div class="right percent">{% widthratio stock.st_current_price stock.st_total_price 100%}%</div>
          </div>
          <div class="money">
            <div class="left">
              <p>{{stock.st_current_price|toTenThous}}万</p>
              <p>当前融资</p>
            </div>
            <div class="left">
              <p>{{stock.st_total_price|toTenThous}}万</p>
              <p>融资总额</p>
            </div>
            <div class="left">
              <p>￥{{stock.st_min_price|toTenThous}}万</p>
              <p>认购起点</p>
            </div>
          </div>
          <div class="cinfo">
            <span class="location">{{stock.st_province}}</span>
            <span class="clazz">
              <a href="javascript:;">{{stock.st_industry}}</a>
            </span>
            <span class="right status">{{stock.st_com_type}}</span>
          </div>
          <div class="course">
            热度
            <span>{{stock.st_view_count}}</span>
            /　关注
            <span>{{stock.st_like_count}}</span>
            /　认购
            <span>{{stock.st_invest_count}}</span>
          </li>        
        {% endfor  %}       
      </ul>
    </div>
    <div class="clearfix"></div>

    <!-- preheat -->
    <div class="wrap level">
      <div class="title">
        <span class="left">预热中项目</span>
        <span class="right">
          <a href="javascript:;">更多&gt;</a>
        </span>
      </div>
      <ul class="list">
      {% for stock in stocks2%}   
        <li class="preheat">
          <div class="img">
            <a href="javascript:;">
              <img src="/media/{{stock.st_image}}" width="314px" height="162px" />
            </a>
            <div class="tip">
              <p class="intro">{{stock.st_brief}}</p>
              <p class="remain">剩余时间：{{stock.st_end_time|lastDays}} 天</p>
            </div>
          </div>
          <div class="namebar">
            <span class="left name">
              <a href="c/sdetail/{{stock.id}}">{{stock.st_title}}</a>
            </span>
            <span class="right status">{{stock.st_pro_type.pt_name}}</span>
          </div>
          <div class="progressbar">预热中可预约认购提交投资</div>
          <div class="money">
             <div class="left">
              <p>{{stock.st_current_price|toTenThous}}万</p>
              <p>当前融资</p>
            </div>
            <div class="left">
              <p>{{stock.st_total_price|toTenThous}}万</p>
              <p>融资总额</p>
            </div>
            <div class="left">
              <p>￥{{stock.st_min_price|toTenThous}}万</p>
              <p>认购起点</p>
            </div>
          </div>
          <div class="cinfo">
            <span class="location">{{stock.st_province}}</span>
            <span class="clazz">
              <a href="javascript:;">{{stock.st_industry}}</a>
            </span>
            <span class="right status">{{stock.st_com_type}}</span>
          </div>
           <div class="course">
            热度
            <span>{{stock.st_view_count}}</span>
            /　关注
            <span>{{stock.st_like_count}}</span>
            /　认购
            <span>{{stock.st_invest_count}}</span>         
          </div>
        </li>       
        {% endfor  %}
      </ul>
    </div>
    <div class="clearfix"></div>

    <!-- finished -->
    <div class="wrap level">
      <div class="title">
        <span class="left">融资成功项目</span>
        <span class="right">
          <a href="javascript:;">更多&gt;</a>
        </span>
      </div>
      <ul class="list">
      {% for stock in stocks3%}    
        <li class="finished">
          <div class="img">
            <a href="javascript:;">
              <img src="/media/{{stock.st_image}}" width="314px" height="162px" />
            </a>
            <div class="tip">
              <p class="intro">{{stock.st_brief}}</p>
              <p class="remain">剩余时间：{{stock.st_end_time|lastDays}} 天</p>
            </div>
          </div>
          <div class="namebar">
            <span class="left name">
              <a href="c/sdetail/{{stock.id}}">{{stock.st_title}}</a>
            </span>
            <span class="right status">已成功</span>
          </div>
          <div class="progressbar">
            <div class="left gray">
              <div class="left yellow"></div>
            </div>
            <div class="right percent">100%</div>
          </div>
          <div class="money">
             <div class="left">
              <p>{{stock.st_current_price|toTenThous}}万</p>
              <p>当前融资</p>
            </div>
            <div class="left">
              <p>{{stock.st_total_price|toTenThous}}万</p>
              <p>融资总额</p>
            </div>
            <div class="left">
              <p>￥{{stock.st_min_price|toTenThous}}万</p>
              <p>认购起点</p>
            </div> 
          </div>
           <div class="cinfo">
            <span class="location">{{stock.st_province}}</span>
            <span class="clazz">
              <a href="javascript:;">{{stock.st_industry}}</a>
            </span>
            <span class="right status">{{stock.st_com_type}}</span>
          </div>
           <div class="course">  
            热度
            <span>{{stock.st_view_count}}</span>                  
            /　关注
            <span>{{stock.st_like_count}}</span>             
             /　认购
            <span>{{stock.st_invest_count}}</span>          
          </div>
        </li>      
      {% endfor  %}
      </ul>
    </div>
  </div>
  <div class="tabitem bond">
    <div class="wrap level">
      <div class="title">
        <span class="left">投标中项目</span>
        <span class="right">
          <a href="/c/bond">查看更多&gt;</a>
        </span>
      </div>
      <ul class="left plist">
      {% for bond in bonds%} 
        <li>
          <!--div class="left status">中</div-->
          <div class="left img">
            <a href="/c/bdetail/{{bond.id}}">
              <img src="/media/{{bond.bo_logo}}" width="50px" height="50px" />
            </a>
          </div>
          <div class="left company">
            <div>
            <a href="c/bdetail/{{bond.id}}"> {{bond.bo_brief}} </a>
            </div>
            <div class="progressbar">
              <div class="left gray">
                <div class="left blue"></div>
              </div>
              <div class="right percent">{% widthratio bond.bo_current_price bond.bo_total_price 100%}%</div>
            </div>
          </div>
          <div class="clearfix"></div>
          <div>融资企业：{{bond.bo_com_name}}</div>
          <div>资金用途：{{bond.bo_brief}}</div>
          <hr />
          <div>
            年化利率
            <span class="ctext">{{bond.bo_scale}}%</span>
            
            截止日期
            <span class="ctext">{{bond.bo_end_time.date}}</span>
          </div>
          <div>
            融资金额
            <span class="ctext">{{bond.bo_total_price|toTenThous}}万</span>
           
            授信额度
            <span class="ctext">{{bond.bo_min_price|toTenThous}}万</span>
          </div>
        </li>
      {% endfor  %} 
      </ul>
    </div>
    <div class="clearfix"></div>
    <div class="wrap level refund">
      <div class="title">
        <span class="left">还款中项目</span>
        <span class="right">
          <a href="/c/bond">查看更多&gt;</a>
        </span>
      </div>
      <ul class="left plist">
        {%for bond in bonds2 %}
        <li>          
          <!--div class="left status">还</div-->
          <div class="left img">
            <a href="/c/bdetail/{{bond.id}}">
              <img src="/media/{{bond.bo_logo}}" width="50px" height="50px" />
            </a>
          </div>
          <div class="left company">
           <a href="c/bdetail/{{bond.id}}"> {{bond.bo_brief}} </a>
            <div class="progressbar">
              <div class="left gray">
                <div class="left green"></div>
              </div>
              <div class="right percent">{% widthratio bond.bo_current_price bond.bo_total_price 100%}%</div>
            </div>
          </div>
          <div class="clearfix"></div>
          <div>融资企业：{{bond.bo_com_name}}</div>
          <div>资金用途：{{bond.bo_brief}}</div>
          <hr />
          <div>
            年化利率
            <span class="ctext">{{bond.bo_scale}}%</span>
           
            截止日期
            <span class="ctext">{{bond.bo_end_time.date}}</span>
          </div>
          <div>
            融资金额
            <span class="ctext">{{bond.bo_total_price|toTenThous}}万</span>
           
            授信额度
            <span class="ctext">{{bond.bo_min_price|toTenThous}}万</span>
          </div>          
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="clearfix"></div>
    <div class="wrap level frefund">
      <div class="title">
        <span class="left">还款完成项目</span>
        <span class="right">
          <a href="/c/bond">查看更多&gt;</a>
        </span>
      </div>
      <ul class="left plist">
        {% for bond  in bonds3 %}
        <li>
          <!--div class="left status">完</div-->
          <div class="left img">
            <a href="/c/bdetail/{{bond.id}}">
              <img src="/media/{{bond.bo_logo}}" width="50px" height="50px" />
            </a>
          </div>
          <div class="left company">
            <a href="c/bdetail/{{bond.id}}"> {{bond.bo_brief}} </a>
            <div class="progressbar">
              <div class="left gray">
                <div class="left yellow"></div>
              </div>
              <div class="right percent">100%</div>
            </div>
          </div>
          <div class="clearfix"></div>
          <div>融资企业：{{bond.bo_com_name}}</div>
          <div>资金用途：{{bond.bo_brief}}</div>
          <hr />
          <div>
            年化利率
            <span class="ctext">{{bond.bo_scale}}%</span>
            
            截止日期
            <span class="ctext">{{bond.bo_end_time.date}}</span>
          </div>
          <div>
            融资金额
            <span class="ctext">{{bond.bo_total_price|toTenThous}}万</span>
           
             授信额度
            <span class="ctext">{{bond.bo_min_price|toTenThous}}万</span>
          </div>                      
        </li>
         {% endfor %}
      </ul>
    </div>
  </div>
</div>
<div class="clearfix"></div>
{% endblock %}