{% extends "qdinvest/base.html" %}
{% load staticfiles %}
{% block title %}会员登录{% endblock %}
{% block body_block %}
<!-- loginbar -->
<div class="loginbar">
  <div class="lbanner left"></div>
  <div class="loginform right">
    <div class="title">
      <h3 class="left">会员登陆</h3>
      <span class="right">
        还没有账号
        <span>
          <a href="/c/register/">立即注册</a>
        </span>
      </span>
    </div>

    <form method="post" class="form">
      <div>
        <input type="text" placeholder="用户名" name="username"  value= "{{username}}"/>         
        {%if errors1%} 
         <a href="javascript:;">{{errors1}} </a>             
        {%endif%}         
      </div>
      <div>
        <input type="password" placeholder="密码" name="password" value= "{{password}}"/>        
        {%if errors2%} 
         <a href="javascript:;">{{errors2}} </a>                 
        {%endif%}   
      </div>
      <div class='hover'>
       {%if errors%} 
         <a href="javascript:;">{{errors}} </a>                 
        {%endif%}
      </div>

      <input type="submit" value="登陆" />
      <span>
        <input type="checkbox" />
        <a href="javascript:;">保持登陆</a>
      </span>
      <span>
        <a href="javascript:;">忘记密码？</a>
      </span>
    </form>
    <!--div class="third_party ">
      <div>用第三方账号登录</div>
      <a href="javascript:;" class="sina">
        <img src="{% static 'images/sina_login.png'%}"/>
      </a>
      <a href="javascript:;" class="qq">
        <img src="{% static 'images/qq_login.png'%}"/>
      </a>
    </div-->
  </div>
</div>
<div class="clearfix"></div>
{% endblock %}