{% extends "qdinvest/base.html" %}
{% load staticfiles %}
{% block title %}个人中心{% endblock %}
{% block body_block %}
<div class="infocontent">
  <ul class="sidemenu left">
    <li>
      <div>我的资料</div>
      <ul>
        <li>
          <a href="/c/account_list/">账户信息</a>
        </li>

      </ul>
    </li>

    <li>
      <div>我的项目</div>
      <ul>
        <li>
          <a href="/c/news_obj_list/">股权项目</a>
        </li>
        <li>
          <a href="/c/bond_list/">债权项目</a>
        </li>
        <li>
          <a href="/c/like_list/">关注项目</a>
        </li>
      </ul>
    </li>
    <li>
      <div>我的消息</div>
      <ul>
        {%if news2 %}
        <li>
          <a href="/c/news/">
            <span class="hover">我的消息</span>
          </a>
        </li>
        {%else%}
        <li>
          <a href="/c/news/">我的消息</a>
        </li>
        {% endif %}
      </ul>
    </li>
  </ul>

  <div class="info right">
    {%ifequal type 'user'%}
    <div class="title">用户消息</div>
    {%endifequal%}
        {%ifequal type 'sys'%}
    <div class="title">系统消息</div>
    {%endifequal%}
    <div class="project">
      <table>
        {%if notices %}
        <tr>
          <th>{{notices.no_title}}</th>
        </tr>
        <tr>
          <td>
            {% autoescape off %}
              {{notices.no_body}}
            {% endautoescape %}
          </td>
        </tr>
        {%endif%}
        {% if notice_users %}
        <tr>
          <th>{{notice_users.nu_title}}</th>
        </tr>
        <tr>
          <td>
            {% autoescape off %}
              {{notice_users.nu_body}}
            {% endautoescape %}
          </td>
        </tr>
        {% endif %}
      </table>
    </div>
  </div>
</div>
<div class="clearfix"></div>
{% endblock %}