{% extends "qdinvest/base.html" %}
{% load staticfiles %}
{% load extra_tags %}
{% block title %}股权众筹详情{% endblock %}
{% block body_block %}
<!-- Modal -->
<div id="investModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="investModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="voteModalLabel">请输入认购金额</h3>
  </div>
  <div class="modal-body">
    <div id='alert_field'>  
    </div>
    <p>
      <span>认购起点:</span>
      <span>{{stock.st_min_price|div:stock.st_per_price|floatformat:2}}股&nbsp;&nbsp;每股价格:</span><span>{{stock.st_per_price}}元</span>
    </p>
    <p>
      <span>我要认购:</span>
      <input type="text" class="input-tel" id="invest-money-gu" style='width:20%'/>
      <span>股,认购金额<span id="invest-money">12.34</span>&nbsp;元</span>
    </p>
    <input type="text" id="st_per_price_text" style="display:none" value="{{stock.st_per_price}}">
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">关闭</button>
    <button class="btn btn-primary" id="btn_invest_sure" pid="{{stock.id}}" ptype="stock" min="{{stock.st_min_price}}">确定</button>
  </div>
</div>
<div class="wrap level body">
    <div class="titlebar">
        <h1 class="left">{{stock.st_title}}</h1>
        <div class="right location">
            <span class="hover">首页</span>
            &gt;
            <span class="hover">股权众筹</span>
            &gt;
            <span>项目详情</span>
        </div>
    </div>
    <div class="level info">
        <ul class="left underway list">
            <li>
                <div class="left img">
                    <a href="javascript:;">
                        <img src="/media/{{stock.st_image}}" width="256px" height="135px" />
                    </a>
                </div>
                <div class="right">
                    <div class="namebar">
                        <span class="left name">
                            <a href="javascript:;">{{stock.st_title}}</a>
                        </span>
                        <span class="right status">{{stock.st_pro_type}}</span>
                    </div>
                    <div class="progressbar">
                        <div class="left gray">
                            <div class="left yellow"></div>
                        </div>
                        <div class="right percent">{% widthratio stock.st_current_price stock.st_total_price 100%}%</div>
                    </div>
                    <div class="money">
                        <div class="left">
                            <p>{{stock.st_total_price|div:stock.st_per_price|floatformat:"0"}}股</p>
                            <p>募集股份上限</p>
                        </div>
                        <div class="left">
                            <p>{{stock.st_per_price}}元/股</p>
                            <p>募集价格</p>
                        </div>
                        <div class="left">
                            <p>{{stock.st_min_price|div:stock.st_per_price|floatformat:"0"}}股</p>
                            <p>认购起点</p>
                        </div>
                        <div class="left">
                            <p>{{stock.st_current_price|div:stock.st_per_price|floatformat:"0"}}股</p>
                            <p>已认购股份数</p>
                        </div>
                        <div class="left">
                            <p>{{stock.st_end_time|date:"Y年m月d日"}}</p>
                            <p>认购截止日</p>
                        </div>
                    </div>
                    <div class="course">
                        热度
                        <span>{{stock.st_view_count}}</span>
                        /　关注
                        <span>{{stock.st_like_count}}</span>
                        /　认购
                       <span>{{stock.st_invest_count}}</span>
                    </div>
                </div>
            </li>
        </ul>
        <div class="right operate">
            <div class="remain">
                剩余
                <span> {{stock.st_end_time|lastDays}}</span>
                天
            </div>
            <div class="offer">
                已认购：
                <span>{{stock.st_current_price|toTenThous}}万</span>
                <a id="btn_invest" href="javascript:;">我要认购</a>
            </div>
        </div>
    </div>
    <div class="intro">
        <div class="left about">
            <ul class="tabmenu">
                <li class="hover" data="presentation">项目介绍</li>
                <!--li data="plan">融资计划书</li>
                <li data="comments">讨论区</li-->
            </ul>
            <div class="tabitem presentation">
                {% if stock.st_video %}
                    <div id='plv_video' data='{{stock.st_video}}' class="text"></div>
                {% endif %}
                <h1 id="i1">重要提示</h1>
                <div class="text">
                {% autoescape off %}
                {{stock.st_hint}}
                {% endautoescape %}
                 </div>
                <h1 id="i2">公司介绍</h1>
                <div class="text">
                {% autoescape off %}
                {{stock.st_com_brief}}
                {% endautoescape %}
                </div>
                <h1 id="i3">投资保护机制</h1>
                <div class="text">
                {% autoescape off %}
                {{stock.st_protect}}
                {% endautoescape %} 
                </div>
                <h1 id="i4">信息披露安排</h1>
                <div class="text">
                {% autoescape off %}
                {{stock.st_inf_expose}}
                {% endautoescape %} 
                </div>
                <h1 id="i5">融资计划</h1>
                <div class="text">
                {% autoescape off %}
                {{stock.st_plan}}
                {% endautoescape %}
                </div>
                <h1 id="i6">商业模式</h1>
                <div class="text">
                {% autoescape off %}
                {{stock.st_business}}
                {% endautoescape %}
                </div>
                <!--h1 id="i7">优势和劣势</h1>
                <div class="text"> 
                    {% autoescape off %}
                 <p>{{stock.st_good_bad}}</p> 
                    {% endautoescape %} 
                </div-->
                <h1 id="i7">业务发展</h1>
                <div class="text">
                {% autoescape off %}
                {{stock.st_market}}
                {% endautoescape %}
                </div>
                <h1 id="i8">财务数据</h1>
                <div class="text">
                {% autoescape off %}
                {{stock.st_finance}}
                {% endautoescape %}
                </div>
                <h1 id="i9">募集资金投向</h1>
                <div class="text">
                {% autoescape off %}
                {{stock.st_risk}}
                {% endautoescape %}
                </div>
                <h1 id="i10">团队介绍</h1>
                <div class="text">
                {% autoescape off %}
                {{stock.st_team}}
                {% endautoescape %}
                </div>
                <ul class="sidemenu">
                    <li class="hover">
                        <a href="#i1">重要提示</a>
                    </li>
                    <li>
                        <a href="#i2">公司介绍</a>
                    </li>
                    <li>
                        <a href="#i3">投资保护机制</a>
                    </li>
                    <li>
                        <a href="#i4">信息披露安排</a>
                    </li>
                    <li>
                        <a href="#i5">融资计划</a>
                    </li>
                    <li>
                        <a href="#i6">商业模式</a>
                    </li>
                    <li>
                        <a href="#i7">业务发展</a>
                    </li>
                    <li>
                        <a href="#i8">财务数据</a>
                    </li>
                    <li>
                        <a href="#i9">募集资金投向</a>
                    </li>
                    <li>
                        <a href="#i10">团队介绍</a>
                    </li>
                </ul>
            </div>
            <div class="tabitem plan">
                {% autoescape off %}
                {{stock.st_prospectus}}
                {% endautoescape %}
                <!--ul>
                    <li>
                        <span class="left">雪诗尼酒窖商业计划书</span>
                        <span class="right">
                            <a href="javascript:;">
                                <img src="{% static 'images/download_btn.png'%}" />
                            </a>
                        </span>
                    </li>
                </ul-->
            </div>
            <!--div class="tabitem comments">
                <div class="textarea">
                    <textarea></textarea>
                    <div class="right">
                        <input type="submit" value="发布" class="cbtn" />
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="filterbar">
                    <span class="hover">全部</span>
                    <span>只看发起人</span>
                </div>
                <ul>
                    <li class="comment">
                        <div class="left head">
                            <img src="{% static 'images/head.png'%}" />
                        </div>
                        <div class="right">
                            <div class="nick">
                                黄鑫磊（黄sir）
                                <span>21小时前</span>
                            </div>
                            <div class="text">黄总的想法跟我沟通过，我想筹备一个万人爱上阅读的计划，想法还不完善，不知道可以聊一下不，让大家给我提出意见</div>
                            <div class="replylink">
                                <a href="javascript:;">详情</a>
                                <a href="javascript:;">评论（1）</a>
                            </div>
                        </div>
                        <div class="right reply1">
                            <div class="triangle"></div>
                            <textarea></textarea>
                            <input type="button" class="cbtn" value="评论" />
                        </div>
                        <ul>
                            <li class="comment reply">
                                <div class="left head">
                                    <img src="{% static 'images/head.png'%}" />
                                </div>
                                <div class="right">
                                    <div class="left nick">
                                        黄鑫磊（黄sir）
                                        <span class="text">黄总的想法跟我沟通过，我想筹备一个万人爱上阅读的计划，想法还不完善，不知道可以聊一下不，让大家给我提出意见</span>
                                        <span>(22小时前)</span>
                                    </div>
                                    <div class="right replylink">
                                        <a href="javascript:;">回复</a>
                                    </div>
                                </div>
                                <div class="right reply2">
                                    <div class="triangle"></div>
                                    <textarea placeholder="回复 黄鑫磊（黄sir）："></textarea>
                                    <input type="button" class="cbtn" value="评论" />
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="comment">
                        <div class="left head">
                            <img src="{% static 'images/head.png'%}" />
                        </div>
                        <div class="right">
                            <div class="nick">
                                黄鑫磊（黄sir）
                                <span>21小时前</span>
                            </div>
                            <div class="text">黄总的想法跟我沟通过，我想筹备一个万人爱上阅读的计划，想法还不完善，不知道可以聊一下不，让大家给我提出意见</div>
                            <div class="replylink">
                                <a href="javascript:;">详情</a>
                                <a href="javascript:;">评论（0）</a>
                            </div>
                        </div>
                        <div class="right reply1">
                            <div class="triangle"></div>
                            <textarea></textarea>
                            <input type="button" class="cbtn" value="评论" />
                        </div>
                    </li>
                    <li class="comment">
                        <div class="left head">
                            <img src="{% static 'images/head.png'%}" />
                        </div>
                        <div class="right">
                            <div class="nick">
                                黄鑫磊（黄sir）
                                <span>21小时前</span>
                            </div>
                            <div class="text">黄总的想法跟我沟通过，我想筹备一个万人爱上阅读的计划，想法还不完善，不知道可以聊一下不，让大家给我提出意见</div>
                            <div class="replylink">
                                <a href="javascript:;">详情</a>
                                <a href="javascript:;">评论（0）</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div-->
        </div>
        <div class="right investinfo">
            <h1>投标情况</h1>
            <table>
                <tr>
                    <th class="k">时 间</th>
                    <th class="k">投资人</th>
                    <th class="k">认购股数</th>
                    <th class="k">投资金额</th>
                </tr>
                {% for invest_stock in invest_stocks%}
                <tr>
                    <td>{{invest_stock.is_date.date}}</td>
                    <td>{{invest_stock.is_user.u_name|slice:"1"}}**</td>
                    <td>{{invest_stock.is_amount|div:invest_stock.is_stock.st_per_price|floatformat:2}}</td>
                    <td>{{invest_stock.is_amount|floatformat:2}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

<div class="clearfix"></div>
<!-- footer -->
{% endblock %}
{% block otherjs %}
    <script type="text/javascript"  src="{% static 'js/sdetail.js'%}"></script>
{% endblock %}