{% extends "qdinvest/base.html" %}
{% load staticfiles %}
{% block title %}个人中心{% endblock %}
{% block body_block %}

<div class="infocontent">
    <ul class="sidemenu left">
        <li>
            <div>我的资料</div>
            <ul>
                <li><a href="/c/account_list/">账户信息</a></li>
                
            </ul>
        </li>
    
        <li>
            <div>我的项目</div>
            <ul>
                <li><a href="javascript:;">股权项目</a></li>
                <li><a href="/c/bond_list/">债权项目</a></li>
            </ul>
        </li>
        <li>
            <div>我的消息</div>
            <ul>
                <li><a href="/c/news/">我的消息</a></li>
            </ul>
        </li>
    </ul>


    <div class="info right">
        <div class="title">用户股权详细信息</div>
        <div class="project"> 
            <table>

                <tr><th>标题</th><th>所属行业</th><th>公司类型</th><th>项目属性</th><th>投资时间</th><th>预计收入</th><th>预计收入日期</th><th>审核状态</th><th>投资金额</th></tr>
                  {%for invest_stock in invest_stocks %}                 
                  {%if invest_stock %}
                  {%for stock in stocks%} 
                                
                  {%ifequal  invest_stock.is_stock.id  stock.id %}
                  

                <tr><td>{{invest_stock.is_stock}}</td><td>{{stock.st_industry}}</td><td>{{stock.st_com_type}}</td><td>{{stock.st_pro_type}}</td><td>{{invest_stock.is_date.date}}</td><td>{{invest_stock.is_soon_profit|floatformat:2}}</td><td>{{invest_stock.is_profit_date}}</td><td>{{invest_stock.is_status}}</td><td>{{invest_stock.is_amount|floatformat:2}}</td></tr>
                {% endifequal %}
                {% endfor %}
                {% endif %}
                {% endfor %}   
                
            </table>   
            <div class="right">投资总额：{{invest_price|floatformat:2}}万元</div>       
        </div>
    </div>
</div>
<div class="clearfix"></div>
{% endblock %}