{% extends "qdinvest/base.html" %}
{% load staticfiles %}
{% load extra_tags %}
{% load pagination_tags %}
{% block title %}股权众筹{% endblock %}
{% block body_block %}
<!-- location filter -->
<div class="wrap level body">
  <div class="titlebar">
    <div class="left location">
      当前位置：
      <span class="hover">首页</span>
      &gt;
      <span class="hover">股权众筹</span>
      &gt;
      <span>列表</span>
    </div>
  </div>
  <div class="filterpart">
     <div class="type">
      <span>企业类型：</span>
       {% ifequal ctp  'all' %}
       <span class="hover">
       {% else %}
       <span>
       {% endifequal %}
        <a href="/c/stock/?ctp=all">全部</a>
      </span>      
      {% for com_type in com_types%}
        {% ifequal ctp com_type.id%}        
        <span class="hover">
          <a href="/c/stock/?ctp={{com_type.id}}">{{com_type.ct_name}}</a>
        </span> 
        {% else %}   
        <span>
          <a href="/c/stock/?ctp={{com_type.id}}">{{com_type.ct_name}}</a>
        </span>
        {% endifequal %}
        {% endfor %}
    </div>

    <div class="status">
      <span>项目属性：</span>
       {% ifequal pty  'all' %}
      <span class="hover">
        {% else %}
      <span>
        {% endifequal %}
        <a href="/c/stock/?pty=all">全部</a>
      </span>      
      {% for pro_type in pro_types%}  
       {% ifequal pty pro_type.id%}  
       <span class="hover">
        <a href="/c/stock/?pty={{pro_type.id}}">{{pro_type.pt_name}} </a> 
       </span>
       {%else%}         
        <span>
          <a href="/c/stock/?pty={{pro_type.id}}">{{pro_type.pt_name}}           
          </a>          
        </span>
        {% endifequal %}
      {% endfor %}
    </div>

    <div class="trade">
      <span>所属行业：</span>
     {% ifequal it  'all' %}
      <span class="hover">
      {% else %}
      <span>
      {% endifequal %}
        <a href="/c/stock/?it=all">全部</a>
      </span>
      {%for industry in industrys%}
      {% ifequal it industry.id%}  
      <span  class="hover">
         <a href="/c/stock/?it={{industry.id}}"> {{industry.in_name}} </a>
      </span> 
      {% else %}
      <span>
        <a href="/c/stock/?it={{industry.id}}"> {{industry.in_name}} </a>
      </span>
      {% endifequal %}
      {% endfor %}

    </div>
    <div class="area">
      <span>所属地区：</span>
      {% ifequal prt  'all' %}
      <span class="hover">
      {%else%}
      <span>
      {% endifequal %}
        <a href="/c/stock/?prt=all">全部</a>
      </span>
      {%for province in provinces %}
       {% ifequal prt province.id%}  
       <span class="hover">
        <a href="/c/stock/?prt={{province.id}}">{{province.pr_name}}</a>
      </span>
       {%else%}
      <span>
        <a href="/c/stock/?prt={{province.id}}">{{province.pr_name}}</a>
      </span>
      {% endifequal %}
      {%  endfor%}
  
    </div>
  </div>

  
  <ul class="underway list stock">
    {% autopaginate stocks 10 %}
    {%for stock in  stocks%}
    <li>
      <div class="left img">
        <a href="/c/sdetail/{{stock.id}}">
          <img src="/media/{{stock.st_image}}" width="250px" height="132px" />
        </a>
      </div>
      <div class="right">
        <div class="namebar">
          <span class="left name">
            <a href="/c/sdetail/{{stock.id}}">{{stock.st_title }}</a>
          </span>
          <span class="left local">{{stock.st_province}}• |</span>
          <span class="clazz">
            <a href="javascript:;">{{stock.st_industry}}</a>
          </span>
          <span class="right status">{{stock.st_pro_type}}</span>
          <span class="right cstatus">{{stock.st_com_type}}</span>
        </div>
        <div class="desc">{{stock.st_brief|slice:"55"}}</div>
        <div class="progressbar">
          <div class="left gray">
            <div class="left yellow"></div>
          </div>
          <div class="right percent">{% widthratio stock.st_current_price stock.st_total_price 100%}%</div>
        </div>
        <div class="money">
          <div class="left">
            当前融资：
            <span>{{stock.st_current_price|toTenThous}}万</span>
            融资总额：
            <span>{{stock.st_total_price|toTenThous}}万</span>
            认购起点：
            <span>{{stock.st_min_price|toTenThous}}万</span>
            出让股权比例：
            <span>{{stock.st_scale}}%</span>
          </div>
        </div>
        <div class="right course">      
          热度
          <span>{{stock.st_view_count}}</span>
          /　关注
          <span>{{stock.st_like_count}}</span>
          /　认购
          <span>{{stock.st_invest_count}}</span>
        </div>
      </div>
    </li> 
   {{ stock.paginator.num_pages }}
    {% endfor %}

  </ul>
  <ul class="left page_navi">
    {% paginate %}

  </ul>
  <div class="right page_num">
    第
    <span>{{pageid}}</span>
    页 共
    <span>{{page_num}}</span>
    页
  </div>
</div>
<div class="clearfix"></div>


{% endblock %}