.progress{ height: 0.6em; width: 85%; background-color: #dddddd; -moz-border-radius: 20px; /* Firefox */ -webkit-border-radius: 20px; /* Safari 和 Chrome */ border-radius: 20px; /* Opera 10.5+, 以及使用了IE-CSS3的IE浏览器 */ display: inline-block; }
.num{ width: 15%; }
.progress .bar{ width: 75%; height: 0.6em; -moz-border-radius: 20px; /* Firefox */ -webkit-border-radius: 20px; /* Safari 和 Chrome */ border-radius: 20px; /* Opera 10.5+, 以及使用了IE-CSS3的IE浏览器 */ display: block; }
.less .progress .bar{ background-color: #0099ff;}
.less .num{ color: #0099ff;}
.more .progress .bar{ background-color: #ff8c19; }
.more .num{ color: #ff8c19;}


/*针对jquery-mobile-structure.css相关*/

/******index**********/

/*theme and self*/
.ui-page-theme-a .ui-header .ui-btn{
	background-color: transparent;
	color: #E0F5FF;
	border: 0;
}
.ui-page-theme-a .ui-header .ui-btn.topSearch,
.ui-page-theme-a .ui-header .ui-btn.topPlus {
	top: 1em;
}
.ui-page-theme-a .ui-header .ui-btn:hover{
	background-color: transparent;
	color: #ffffff;
}
.ui-page-theme-a .ui-header .ui-tabs .ui-btn{
	background-color: #ffffff /*{f-bup-background-color}*/;
	border-color: #cccccc /*{f-bup-border}*/;
	color: #111111 /*{f-bup-color}*/;
	border-style: solid;
}
.ui-footer{
	border-width: 0;
}

.index .ui-btn.ui-btn-f.ui-btn-active{
	color: #0069A8 ;
	border-bottom-color:#0069A8;
	border-right-color: #E0E0DE;
	background: -webkit-linear-gradient(270deg, #ffffff,#ffffff 92%,#0069A8 8%,#0069A8);
	background:-moz-linear-gradient(270deg, #ffffff,#ffffff 92%,#0069A8 8%,#0069A8);
	background:-o-linear-gradient(270deg, #ffffff,#ffffff 92%,#0069A8 8%,#0069A8);
	filter:progid:dximagetransform.microsoft.gradient(startcolorstr=#ffffff,endcolorstr=#0069A8,gradienttype=1);
}
.index .ui-listview > li p{
	font-size: .6em;
	margin: .4em 0;
}
.index .ui-listview > li p.progressbar{
	margin: 0;
}
.index .ui-listview > li p.cbrief .hl1{
	padding-left: .6em;
	margin-right: .6em;
	border-left: 1px solid #d0d0d0;
}
.index .ui-listview > li p.cpopular .hl1{
	padding: 0 .4em;
}

/*structure*/
.ui-content{
	padding: 0;
	overflow: hidden;
}

.ui-tabs{
	padding: 2em 0 0 0;
}
.ui-navbar-fixed{
	margin-top: 2.7em;
	top: 0;
	left: 0;
	width: 100%;
	position: fixed;
	z-index: 1000;
}

.index .ui-tabs .ui-navbar li .ui-btn {
	border-top-width: 0;
	border-bottom-width: 1px;
	border-left-width:0; 
	border-right-width: 1px;
}
.index .ui-tabs .ui-navbar li:last-child .ui-btn{
	border-right-width: 0;
}

.index  .ui-content .ui-listview {
	margin: 0.3em;
}
.index .ui-listview > li{
	border-width: 1px;
	border-style: solid;
	margin-bottom: 0.3em;
}
.index .ui-listview > li > a.ui-btn {
	border-width: 0 0 1px 0;
	padding: 0.3em 0.6em;
}
.index .ui-listview > .ui-li-has-thumb > .ui-btn{
	padding-left: 6em;
}
.index .ui-listview .ui-li-has-thumb > .ui-btn > img{
	margin: 0.5em .4em;
}
.index .ui-listview > li h3{
	margin: .4em 0 .2em;
}
.index .ui-listview .ui-li-aside{
	top: 0.8em;
	right: 0.4em;
}
.index .ui-listview .ui-li-bottom {
	padding: 0.3em 0.4em;
	margin: 0;
}
.index .ui-listview .ui-li-bottom span{
	display: inline-block;
	margin-right: 0.5em;
	font-size: 1em;
}
.index .ui-listview .ui-li-bottom span:last-child{
	margin-right: 0;
}
.index .ui-listview span em{
	font-style: normal;
}
.index .ui-listview .cbrief .ui-btn-icon-left:after{
	top: 62%;
	left: 9.6em;
}
.index .ui-listview .cbrief .ui-btn-icon-left{
	padding-left: 1.5em;
	padding-right: .5em;
}
.index .ui-listview .progressbar,
.index .ui-listview .ui-li-bottom,
.index .ui-listview .cbrief,
.index .ui-listview .cpopular {
	white-space: normal;
}
/******index**********/


/*******detail*******/
.pro_detail{
	background-color: #fff;
}
.pro_detail  .ui-tabs{
	padding: 6.45em 0 0 0;
}
.pro_detail .ui-tabs .ui-navbar li{
	position: relative;
}

.pro_detail .ui-tabs .ui-navbar li .ui-btn {
	padding: .7em 1.2em;
	border-width: 0;
	background-color: #FAFAFA; 
	position: relative;
	border-bottom: 1px solid #ccc;
}
.pro_detail .ui-tabs .ui-navbar li .ui-btn span{
	display: block;
	padding: .2em 0;
}

.pro_detail .ui-tabs .ui-navbar li .ui-btn.ui-btn-active span{
	color: #ffffff ;
	background-color: #0069A8;
	-webkit-border-radius: 1em;
	border-radius: 1em;
} 
.pro_detail  .ui-tabs .ui-navbar li.ui-tabs-active:after,
.pro_detail  .ui-tabs .ui-navbar li.ui-tabs-active:before {
	border: solid transparent;
	content: ' ';
	height: 0;
	position: absolute;
	width: 0;
	margin-left: -0.6em;
	z-index: 10;
	border-width: .5em;
}
 
.pro_detail  .ui-tabs .ui-navbar li.ui-tabs-active:after {
	border-bottom-color: #ffffff;
	top: 1.5em;
	left: 52%;
}
 
.pro_detail  .ui-tabs .ui-navbar li.ui-tabs-active:before {
	border-bottom-color: #ccc;
	top: 1.4em;
	left: 52%;
}
.pro_detail .ui-navbar-fixed{
	padding-top: 0;
	top: 0em;
	left: 0;
	width: 100%;
	position: fixed;
	z-index: 1000;
}

.pro_detail .ui-navbar-fixed .relative{
	position: relative;
	height: 100%;
	width: 100%;
}
.pro_detail .ui-navbar-fixed .relative .co_covers{
	width: 100%;
	position: relative;
}
.pro_detail .co_covers img{
	width: 100%;
}

.pro_detail .relative .co_covers .popular{
	position: absolute;
	bottom: .3em;
	width: 100%;
}
.pro_detail .co_covers .popular .ui-grid-b{
	background-color: #000000;
	filter: Alpha(Opacity=60);
	opacity: .6;
	padding: .4em 0;
	line-height: .9;
}
.pro_detail .co_covers .popular .ui-block-b,
.pro_detail .co_covers .popular .ui-block-c{
	border-left: 1px solid #949494;
}

.pro_detail .co_covers .popular p {
	margin: 0; 
	font-size: 1.2em;
	color: #ffffff;
	text-align: center;
	text-shadow: 1px /*{a-bar-shadow-x}*/ 1px /*{a-bar-shadow-y}*/ 0 /*{a-bar-shadow-radius}*/ #404040 /*{a-bar-shadow-color}*/;
}
.pro_detail .co_covers .popular p span{
	font-size: .5em;
	color: #b4ff00;
}
.pro_detail .relative .co_covers .follow {
	position: absolute;
	top: 3%;
	right: 3%;
}
.pro_detail .co_covers .follow .follow-heart{
	width: 3em;
	height: 3em;
	margin:0;
	background-color: #7F7F7F;
	-moz-border-radius: .5em; /* Firefox */ 
	-webkit-border-radius: .5em; /* Safari 和 Chrome */ 
	border-radius: .5em; /* Opera 10.5+, 以及使用了IE-CSS3的IE浏览器 */
	position: relative;
	display: block;
	filter: Alpha(Opacity=60);
	opacity: .6;

}
.pro_detail .co_covers .follow .follow-heart:before,
.pro_detail .co_covers .follow .follow-heart:after{
	content: " ";
	width: 1.2em;
	height: 1.8em;
	background: #fff;
	border-radius: 1.5em 1.5em 0 0;
	position: absolute;
	top:18%;
}
.pro_detail .co_covers .follow .follow-heart:before{
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	left: 22%;

}
.pro_detail .co_covers .follow .follow-heart:after{
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	left: 38%;

}
.pro_detail .co_covers .follow .follow-heart.active{
	filter: Alpha(Opacity=100);
	opacity: 1;
	background-color: #9f9f9f;
}
.pro_detail .co_covers .follow .follow-heart.active:before,
.pro_detail .co_covers .follow .follow-heart.active:after{
	background-color: #ff0c23;
	

}

.pro_detail .relative .co_covers .progressbar{
	margin: 0;
	position: absolute;
	bottom: 0;
	width: 100%;
}
.pro_detail .progress .bar{ 
	width: 70%; 
	height: 0.3em; 
	-moz-border-radius: 0; /* Firefox */ 
	-webkit-border-radius: 0; /* Safari 和 Chrome */ 
	border-radius: 0; /* Opera 10.5+, 以及使用了IE-CSS3的IE浏览器 */ 
	background-color: #ff8c19;
}
.pro_detail .progress{ 
	height: 0.3em; 
	width: 100%; 
	-moz-border-radius: 0; /* Firefox */
	-webkit-border-radius: 0; /* Safari 和 Chrome */ 
	border-radius: 0; /* Opera 10.5+, 以及使用了IE-CSS3的IE浏览器 */ 
	display: block;
}
.pro_detail .relative .ui-grid-solo{
	position: relative;
	background-color: #fff;
	border-bottom: 1px solid #ccc;
}
.pro_detail .ui-grid-solo h3{
	text-align: center;
	margin: .5em 0 .2em;
	font-weight: normal;
}
.pro_detail .ui-grid-solo  p{
	font-size: .8em;
	margin: .5em 0 .7em;
	font-weight: normal;
	display: block;
	text-overflow: ellipsis;
	overflow: hidden;
	text-align: center;
}
.pro_detail .ui-grid-solo .ui-li-aside{
	top: 0.4em;
	right: 0.4em;
	position: absolute;
	text-align: right;
}
.pro_detail .ui-grid-solo .cbrief .ui-btn-icon-left:after{
	top: 50%;
	left: 50%;
	margin-left: -9em;
}
.pro_detail .ui-grid-solo .cbrief .ui-btn-icon-left{
	padding-left: 1.5em;
	padding-right: .5em;
}
.pro_detail .ui-grid-solo .cbrief{
	white-space: normal;
	position: relative;
}
.pro_detail .ui-grid-solo p.cbrief .hl1{
	padding-left: .6em;
	margin-right: .6em;
	border-left: 1px solid #d0d0d0;
}.pro_detail .ui-grid-solo p.cbrief .hl3{
	padding-left: .6em;
}
.pro_detail .ui-content .ui-listview{
	margin:0;
}
.pro_detail .ui-content .ui-listview li:first-child{
	border-top-width: 0;
}
.pro_detail .ui-content .ui-listview li:last-child .ui-btn{
	border-bottom-width: 0;
}
.pro_detail .ui-content .ui-listview .ui-grid-b{
	text-align: center;
}
.pro_detail .ui-listview .ui-grid-b p{
	font-size: 1em;
	margin: 0;
}
.pro_detail .ui-listview .ui-grid-b p span{
	font-size: .6em;
	color: #0069a8;
}
.pro_detail .ui-content .ui-listview li .ui-btn{
	background-color: #fff;
	color: #111;
	border-color: #ccc;
}


.pro_detail .bottomnav .ui-block-a {
	width: 70%;
}
.bottomnav .ui-block-a .ui-input-text input{
	border: 1px solid #ccc;
	padding: .6em;
	line-height: 1.3;
	margin-left: .3em;
}
.pro_detail .bottomnav .ui-block-b {
	width: 30%;
}
.pro_detail .ui-footer button.btn-confirm{
	width:95%;
	font-size: 1em;
	padding: .6em;
	margin-top: .56em;
	font-weight: normal;
}

/********self********/
.pro_detail .pro-content{
	padding:  0.2em 0.6em;
}
.pro_detail .pro-content p{
	line-height: 1.6;
}
/********self********/
/*******detail*******/


/*******login*******/
.login {
	height: 100%;
	background-image: url(/static/wechat/css/themes/images/login_bg.png);
	background-repeat: no-repeat;
	background-color: transparent;
	background-size: 100%;
	background-position: center;
}

.login .absolute{
	position: absolute;
	left: 10%;
	top: 15%;
	width: 80%;
	text-align: center;
}
.login img{
	width: 100%;
	max-width: 25em;
}
.login .ui-controlgroup{
	margin: 0;
	position: relative;
	border: 1px solid #00518c;
}
.login .ui-controlgroup-controls .ui-input-text{
	margin: 0;
	padding: 0 1em;
	border-width: 0;
}
.login .ui-controlgroup-vertical .ui-input-text:first-child input{
	border-bottom: 1px  solid #ccc;
}
.login .ui-input-text input{
	padding: .8em 0 .8em 2em;
	background-repeat: no-repeat;
	background-size: auto 50%;
	background-position: left;
}
.login .ui-input-text input[type="text"]{
	background-image: url(/static/wechat/css/themes/images/login_user.png);
}
.login .ui-input-text input[type="password"]{
	background-image: url(/static/wechat/css/themes/images/login_pwd.png);
}
.login .ui-controlgroup-controls a{
	color: #379945;
	position: absolute;
	bottom: .8em;
	right: 1em;

}
.login .ui-grid-a .ui-block-a{
	padding-right: .25em;
}
.login .ui-grid-a .ui-block-b{
	padding-left: .25em;
}
.login .ui-grid-a .ui-btn {
	font-weight: normal;
}

/*******login*******/


/*******personal*******/
.personal{
	height: 100%;
}
.personal .ui-header p{
	margin: 0;
	text-align: center;
	color: #fff;
	font-weight: normal;
}
.personal .ui-header p img{
	width: 20%;
	height: 20%;
	margin-bottom: 1%;
}
.personal .ui-header .ui-grid-b {
	padding: 1% 0;
	line-height: 1;
}
.personal .ui-header .ui-grid-b .ui-block-a,
.personal .ui-header .ui-grid-b .ui-block-b{
	border-right: 1px solid #e0f5ff;
}
.personal .ui-header .ui-grid-b p{
	font-weight: bold;
}
.personal .ui-header .ui-grid-b p span{
	font-size: .6em;
	font-weight: normal;
}
.personal .ui-header:after{
	content: '';
	background-image: url(/static/wechat/css/themes/images/pc_bg.png);
	background-repeat: repeat-x;
	background-size: auto 100%;
	height: 3%;
	width: 100%;
	position: absolute;
	z-index: 1000;
}
.personal .ui-content .ui-grid-solo,
.personal .ui-content .ui-grid-a {
	background-color: #EEEEEE;
	position: relative;
}
.personal .ui-content .ui-grid-a{
	padding-top: 1%;
	padding-bottom: 2%;
	color:#666666; 
}
.personal .ui-content .ui-grid-solo .ui-block-a{
	padding-top: 2%;
	padding-bottom: 1%;
	background-color: #fff;
	color:#333333; 
	-webkit-box-shadow: 0 .15em .1em #BFBEBE /*{a-active-background-color}*/;
	-moz-box-shadow: 0 .15em .1em #BFBEBE /*{a-active-background-color}*/;
	box-shadow: 0 .15em .1em #BFBEBE /*{a-active-background-color}*/;
	margin-bottom: .5em;
}
.personal .ui-content .ui-grid-solo .ui-block-a:before,
.personal .ui-content .ui-grid-solo .ui-block-a:after{
	content: ' ';
	height: 0;
	width: 0;
	border: solid transparent;
	border-width: .4em;
	position: absolute;
	margin-left: -2%;
	z-index: 10;
	left: 50%;
	top: 100%;	
}
.personal .ui-content .ui-grid-solo .ui-block-a:after{	
	border-top-color: #fff;
	margin-top: -0.5em;
}
.personal .ui-content .ui-grid-solo .ui-block-a:before{
	border-top-color: #CBCBCB;
	-moz-border-top-colors: #E5E5E5 #C6C6C6 ;
	margin-top: -0.4em;
}
.personal .ui-content .ui-grid-solo p,
.personal .ui-content .ui-grid-a p {
	margin: 0;
	font-size: .6em;
	padding-left: 2%;
}
.personal .ui-content .ui-grid-solo p.total,
.personal .ui-content .ui-grid-a p.total {
	color:#FF5000; 
	font-size: 1.2em;
	font-weight: bold;
}
.personal .ui-content .ui-grid-solo p.part,
.personal .ui-content .ui-grid-a p.part{
	color:#379945; 
	font-size: 1.2em;
	font-weight: bold;
}
.personal .ui-content .ui-grid-solo p span{
	background-color: #FF5000;
	color: #fff;
	padding: 0 .6em;
	margin-left: 1%;
}
.personal .ui-content .subscribe{
	background-color: #333333;
	color: #fff;
	padding-top: 2%;
}
.personal .ui-footer{
	width: 100%;
	position: absolute;
	bottom: 0;
}
/*******personal*******/