/*jquery-mobile相关*/
.ui-page-theme-a .ui-header .ui-btn{
	background-color:transparent;
	border: 0;
}
.ui-page-theme-a .ui-header .ui-btn.topSearch,
.ui-page-theme-a .ui-header .ui-btn.topPlus {
	top: 1em
}
.ui-page-theme-a .ui-header .ui-btn:hover{
	background-color: #e0f5ff;
}
.ui-content{
	padding: 0;
}
.ui-content{
	padding: 0;
}


/*单独的*/
.pro-content{
	padding:  0.2em 0.6em;
}
.pro-content p{
	line-height: 1.6;
}
.btn-confirm{
	width: 12em;
}
#input-money{
	width: 2em;
}

