.onShow
{
    background:url(../images/onShow.gif) no-repeat; 
    padding-left:25px; 
	margin-left:10px; 
	font-size: 12px;
	line-height:38px; 
	vertical-align:middle;
}
.onFocus
{
    background:#E9F0FF url(../images/onFocus.gif) no-repeat center left; 
    padding-left:25px; 
	margin-left:10px; 
	font-size: 12px;
	line-height:38px; 
	vertical-align:middle;
}
.onError
{
    background:#FFF2E9 url(../images/onError.gif) no-repeat center left;
    padding-left:25px;
	margin-left:10px; 
	font-size: 12px;
	line-height:38px; 
	vertical-align:middle;
}
.onCorrect
{
    background:url(../images/onCorrect.gif) no-repeat center left;
    padding-left:25px;
	margin-left:10px; 
	font-size: 12px;
	line-height:38px; 
	vertical-align:middle;
}
.onLoad
{
    background:#E9FFEB url(../images/onLoad.gif) no-repeat center left;
    padding-left:25px;
	margin-left:10px; 
	font-size: 12px;
	line-height:38px; 
	vertical-align:middle;
} 

.inputOnShow
{
	color: #999999
}